<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <input :name="field.name"
               :placeholder="field.placeholder"
               @change="handleInput"
               type="checkbox"
               v-model="content">
        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>
export default {
    props: {
        modelValue: [String, Number, Boolean],
        field: Object,
        error: String,
    },
    data() {
        return {
            content: '',
            err: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput() {
            this.err = false;
            this.$emit('update:modelValue', this.content)
        }
    },
    created() {
        this.content = this.modelValue  ? Boolean(this.modelValue) : this.field.defaultValue > 0;
        this.handleInput();
        this.err = this.error;
    }
}
</script>
