<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <a target="_blank" :href="link" v-if="link && link.length > 0" style="color: #008bff;font-weight: 900;display: block;margin-bottom: 15px;">Завантажити файл</a>
        <input type="file"  @change="handleInput($event)">
    </div>
</template>

<script>
export default {
    props: {
        modelValue: [String, Number, File],
        field: Object,
        error: String,
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    data () {
        return {
            file: '',
            link: '',
            err: '',
        }
    },
    methods: {
        handleInput (event) {
            this.err = false;
            this.file = event.target.files[0];
            this.$emit('update:modelValue', this.file)
        },
    },
    created() {
        this.link = this.modelValue ? this.modelValue : this.imageDefault;
        this.err = this.error;
    }
}
</script>
