<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <input class="form-control"
               type="number"
               step=".01"
               :name="field.name"
               :placeholder="field.placeholder"
               @input="handleInput"
               v-model="content">
        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>
export default {
    props: {
        modelValue: [String, Number],
        field: Object,
        error: String,
    },
    data() {
        return {
            content: '',
            err: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput() {
            this.err = false;
            this.$emit('update:modelValue', this.content);
        }
    },
    created() {
        this.content = this.modelValue ? this.modelValue : 0;
        this.$emit('update:modelValue', this.content);
        this.err = this.error;
    }
}
</script>
