<template>
    <div class="form-group">
        <label>Зображення</label>
        <div class="boxImages row">
            <div class="col-md-3" v-for="image in images">
                <div class="boxImg" :style="'background-image: url(' + image.url + ')'">
                    <span class="icon-trash delete" @click="deleteImage(image.id)"></span>
                    <p class="info">{{ image.name.slice(0, 25) }} <br> ({{ image.size_show }} {{ image.mime_type }})</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="boxImgLast" @click="openUpload">
                    <span class="icon-upload"></span>
                    <p>Завантажити</p>
                </div>
                <input type="file" multiple @change="saveImage($event)" class="displayNone" id="openFiles" accept="image/*"/>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        entryId: String | Number,
        modelValue: Array,
        url: String,
    },
    data() {
        return {
            imageDefault: '/images/admin/default/image.jpeg',
            images: [],
            isUpload: false,
        }
    },
    methods: {
        openUpload() {
            document.getElementById('openFiles').click();
        },
        saveImage(event) {
            if (event.target.files[0]) {
                let formData = new FormData();
                this.LoaderIndicator(true);

                for (var i = 0; i < event.target.files.length; i++) {
                    formData.append('files['+i+']', event.target.files[i]);
                }

                axios.post(this.url + this.entryId, formData)
                    .then(response => {
                        for (var i = 0; i < response.data.length; i++) {
                            this.images.push(response.data[i]);
                        }
                        this.LoaderIndicator(false);
                    }).catch(error => {
                        this.LoaderIndicator(false);
                        alert('Error!');
                    }
                );
            }
        },
        deleteImage(id) {
            if (confirm("Видалити?")) {
                this.LoaderIndicator(true);
                axios.delete(this.url + id)
                    .then(response => {
                        let index = this.images.findIndex(x => x.id === id);
                        this.images.splice(index, 1);
                        this.LoaderIndicator(false);
                    }).catch(error => {
                        this.LoaderIndicator(false);
                        alert('Error!');
                    }
                );
            }
        },
    },
    created() {
        this.images = this.modelValue.length > 0 ? this.modelValue : [];
    }
}

</script>
