<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <img :src="src" class="m-b-10 cursorPointer avatarCropper m-t-15" @click="openUpload($event)">
        <input :id="id" type="file" class="displayNone" accept="image/*" @change="handleInput($event)">
        <button class="btn btnSuccessLight m-r-10" @click="openUpload($event)" type="button">
            <span class="m-r-5 icon-upload"></span> Завантажити зображення
        </button>
    </div>
</template>

<script>
export default {
    props: {
        modelValue: [String, Number, File],
        field: Object,
        error: String,
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    data () {
        return {
            imageDefault: '/images/admin/default/image.jpeg',
            image: '',
            src: null,
            err: '',
            id: 0,
        }
    },
    methods: {
        handleInput (event) {
            this.err = false;
            this.image = event.target.files[0];
            this.src = URL.createObjectURL(this.image);
            this.$emit('update:modelValue', this.image)
        },
        openUpload (event) {
            document.getElementById(this.id).click();
        },
    },
    created() {
        this.src = this.modelValue ? this.modelValue : this.imageDefault;
        this.err = this.error;
        this.id = Math.floor(Math.random() * 100);
    }
}
</script>
