<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
       <div class="boxTable">
           <table class="w100">
               <tr v-for="(row, key) in content">
                   <td>{{key}}</td>
                   <td>
                       <input class="form-control"
                              :class="{'error': content[key].length === 0 }"
                              @input="handleInput"
                              v-model="content[key]">
                   </td>
                   <td class="borderGray"  @click="deleteRow(key)">
                       <span class="m-r-5 icon-trash colRed cursorPointer p-10"></span>
                   </td>
               </tr>
           </table>
           <hr class="w100 m-t-15 m-b-15">
           <div class="w100 displayFlex">
               <button class="btn btnSuccessLight m-r-10" type="button" @click="addRow()">
                   <span class="m-r-5 icon-plus-circle"></span> {{trans('crud.add')}}
               </button>
               <input class="form-control w30" v-model="key" placeholder="Введіть ключ">
           </div>
       </div>
    </div>
</template>

<script>
export default {
    props: {
        modelValue: Object,
        field: Object,
        error: String,
    },
    data() {
        return {
            content: {},
            err: '',
            key: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput() {
            this.err = false;
            this.$emit('update:modelValue', this.content);
        },
        addRow()
        {
            if (this.key.length > 0){
                this.content[this.key] = "";
                this.key = "";
            }else {
                alert('Введіть ключ');
            }
        },
        deleteRow(key)
        {
            if (confirm("Видалити " + key + " ?")) {
                delete this.content[key];
            }
        }
    },
    created() {
        this.content = this.modelValue ? this.modelValue : {};
        this.err = this.error;
    }
}
</script>
