<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <input class="form-control"
               @input="handleInput"
               v-model="content"
               v-mask="'38(0##)###-##-##'"
               placeholder="38(0__)___-__-__"
        >
        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>
import {mask} from 'vue-the-mask'

export default {
    props: {
        modelValue: [String, Number],
        field: Object,
        error: String,
    },
    directives: {mask},
    data() {
        return {
            content: ''
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput() {
            this.err = false;
            this.$emit('update:modelValue', this.unFormatPhone(this.content));
        },
        unFormatPhone(phone) {
            if (phone) {
                phone = phone.replace(/-/g, '');
                phone = phone.replace('(', '');
                phone = phone.replace(')', '');
                phone = phone.replace('+', '');
            }
            return phone;
        },
    },
    created() {
        this.content = this.modelValue ? this.modelValue : '';
        this.err = this.error;
    }
}
</script>
