<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <v-select class="w100"
                  :label="reduceLabel"
                  :placeholder="field.placeholder"
                  :options="field.values"
                  v-model="content"
                  :reduce="item => item[reduceKey]"
                  @update:modelValue="handleInput">
            <span slot="no-options">{{trans('admin.selectNonList')}}</span>
        </v-select>
        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>

import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'

export default {
    props: {
        modelValue: String|Number,
        field: Object,
        error: String,
    },
    components: {vSelect},
    data() {
        return {
            content: [],
            err: '',
            reduceKey: '',
            reduceLabel: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput () {
            this.err = false;
            this.$emit('update:modelValue', this.content)
        }
    },
    created() {
        this.reduceKey = this.field.options.reduceKey ? this.field.options.reduceKey : 'id'
        this.reduceLabel = this.field.options.reduceLabel ? this.field.options.reduceLabel : 'name'

        let subValue = this.modelValue ? this.modelValue : this.field.defaultValue ? this.field.defaultValue: '';

        if (subValue){
            this.field.values.forEach(row =>{
                if (row[this.reduceKey].toString() === subValue.toString()){
                    this.content = row[this.reduceKey];
                    this.handleInput();
                }
            });
        }
        this.err = this.error;
    }
}
</script>
