<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <v-select class="w100"
                  :label="reduceLabel"
                  :options="field.values"
                  v-model="content"
                  multiple
                  :reduce="item => item[reduceKey]"
                  @update:modelValue="handleInput">
            <span slot="no-options">{{trans('admin.selectNonList')}}</span>
        </v-select>
    </div>
</template>

<script>

import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'

export default {
    props: {
        modelValue: Array,
        field: Object,
        error: String,
    },
    components: {vSelect},
    data() {
        return {
            content: [],
            err: '',
            reduceKey: '',
            reduceLabel: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput () {
            this.err = false;
            if(!Array.isArray(this.content)){
                this.content = this.content.split(',')
            }
            this.$emit('update:modelValue', this.content);
        }
    },
    created() {
        this.reduceKey = this.field.options.reduceKey ? this.field.options.reduceKey : 'id'
        this.reduceLabel = this.field.options.reduceLabel ? this.field.options.reduceLabel : 'name'

        if (this.modelValue && this.modelValue.length > 0){
            let arr = [];
            this.modelValue.forEach(cat =>{
                arr.push(cat[this.reduceKey]);
            });
            this.content = arr;
        }
        this.handleInput();
        this.err = this.error;
    }
}
</script>
