<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <v-select class="w100"
                  :placeholder="field.placeholder"
                  :options="Object.keys(field.values)"
                  v-model="content"
                  @update:modelValue="handleInput">
            <span slot="no-options">{{trans('admin.selectNonList')}}</span>
        </v-select>
        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>

import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'

export default {
    props: {
        modelValue: String|Number,
        field: Object,
        error: String,
    },
    components: {vSelect},
    data() {
        return {
            content: [],
            err: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput () {
            this.err = false;
            this.$emit('update:modelValue', typeof this.content === 'object' ? this.content.id : this.content);
        }
    },
    created() {
        console.log(this.field.values)
        this.content = this.modelValue ? this.modelValue : '';
        this.err = this.error;
    }
}
</script>
