<template>
    <div class="form-group" :class="{'required': field.required,'error': err }">
        <label>{{ field.label }}</label>
        <select @change="handleInput" class="form-control" :placeholder="field.placeholder" v-model="content" >
            <option v-for="(label, value) in field.values" :value="value">{{label}}</option>
        </select>
        <div v-if="err" class="error">{{ error }}</div>
    </div>
</template>

<script>

import vSelect from 'vue-select'
import 'vue-select/dist/vue-select.css'

export default {
    props: {
        modelValue: String|Number,
        field: Object,
        error: String,
    },
    components: {vSelect},
    data() {
        return {
            content: '',
            err: '',
        }
    },
    watch: {
        error: function (error) {
            this.err = error && error.length > 0;
        }
    },
    methods: {
        handleInput () {
            this.err = false;
            this.$emit('update:modelValue', this.content)
        }
    },
    created() {
        this.content = this.modelValue ? this.modelValue : '';
        this.err = this.error;

    }
}
</script>
