<template>
    <div :title="labelLong">{{label}} грн</div>
</template>

<script>
export default {
    props: {
        item: Object,
        column: Object,
    },
    data: () => ({
        label: '',
        labelLong: '',
    }),
    created() {
        let names = this.column.name.split('.');
        let result = this.item
        for (let i = 0; i < names.length; i++) {
            result = result[names[i]] ? result[names[i]] : ''
        }

        if (result === '' || result === null) result = '-';
        this.label = result;
        this.labelLong = result;

        if(this.label.length > 50){
            this.label = this.label.slice(0, 50) + '...'
        }
    }
}
</script>
