<template>
    <div>
        <img :src="item[column.name]" style="width: 30px;" v-if="item[column.name]"/>
        <span class="icon-picture-o" v-else></span>
    </div>
</template>

<script>
export default {
    props: {
        item: Object,
        column: Object,
    },
}
</script>
