<template>
    <div class="displayFlex">
        <button class="btnIcon colGreen" v-if="item.status.key === 'canceled' || item.status.key === 'completed'" title="Новий" @click="setNewStatus($event, item.id)">
            <span class="icon-files-o"></span>
        </button>

        <button class="btnIcon colGreen" v-if="item.status.key !== 'payment' && item.status.key !== 'completed'" title="Сплачено" @click="setPaymentStatus($event, item.id)">
            <span class="icon-credit-card"></span>
        </button>

        <button class="btnIcon colGreen" v-if="item.status.key !== 'completed'" title="Виконано" @click="setCompletedStatus($event, item.id)">
            <span class="icon-check-circle-o"></span>
        </button>

        <button class="btnIcon colRed" v-if="item.status.key !== 'canceled'" title="Відмінено" @click="setCanceledStatus($event, item.id)">
            <span class="icon-ban"></span>
        </button>
    </div>
</template>

<script>
import Statuses from '../../../Mixins/Crud/Statuses'

export default {
    props: {
        item: Object,
        column: Object,
    },
    mixins: [Statuses],
    data: () => ({
        label: '',
        labelLong: '',
    }),
    created() {
        let names = this.column.name.split('.');
        let result = this.item
        for (let i = 0; i < names.length; i++) {
            result = result[names[i]] ? result[names[i]] : ''
        }

        if (result === '' || result === null) result = '-';
        this.label = result;
        this.labelLong = result;

        if (this.label.length > 50) {
            this.label = this.label.slice(0, 50) + '...'
        }
    }
}
</script>
