<template>
    <app-layout :title="options.entityNamePlural" :key="componentKey">
        <nav-title-operation :options="options"/>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="displaySpaceBetweenFlex box titleBlock">
                    <form @submit.prevent="submit" class="w100 row">
                        <div class="col-md-8 p-0">
                            <div class="row m-0">
                                <template v-if="languages.length !== 0">
                                    <div class="langBox">
                                        <template v-for="(ln) in languages">
                                            <div class="langItemName" :class="{'active': lang === ln.locale}"
                                                 @click="setLang(ln.locale)">
                                                {{ ln.locale }}
                                            </div>
                                        </template>
                                    </div>
                                    <div class="langBoxFields">
                                        <template v-for="lg in languages">
                                            <div class="langItem" :class="{'active': lang === lg.locale}">
                                                <div v-for="field in fieldsTranslations" :class="field.class">
                                                    <component
                                                        v-bind:is="field.type"
                                                        v-model="form.translations[lg.locale][field.name]"
                                                        :field="field"
                                                        :error="errors[field.name]"
                                                    ></component>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="col-md-4 p-0">
                            <div class="row m-0">
                                <div v-for="field in fields" :class="field.class" >
                                    <component
                                        v-bind:is="field.type"
                                        v-model="form[field.name]"
                                        :field="field"
                                        :error="errors[field.name]"
                                    ></component>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btnGroup">
                                <button type="submit" class="btn btnSuccess">
                                    <span class="icon-save"></span> {{trans('crud.save')}}
                                </button>
                                <button type="submit" class="btn btnDefault" onclick="history.back()">
                                    <span class="icon-ban"></span> {{trans('crud.cancel')}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import {defineComponent} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import {useForm} from '@inertiajs/inertia-vue3'

import NavTitleOperation from '../../../Components/Crud/Nav/NavTitleOperation'
import Fields from "../../../Mixins/Crud/Fields";
import Translation from "../../../Mixins/Crud/Translation";
import ImagesInput from "../../../Components/Crud/Fields/ImagesInput";

export default defineComponent({
    props: {
        options: Object,
        fields: Object,
        fieldsTranslations: Object,
        errors: Object,
        entry: Object,
        languages: Array,
    },
    components: {
        AppLayout,
        NavTitleOperation,
        ImagesInput,
    },
    mixins: [
        Fields, Translation
    ],
    data: () => ({
        componentKey: 0
    }),
    setup(props) {
        let item = props.entry;
        console.log(item)
        let translations = JSON.parse(JSON.stringify(item.translations));
        let translationsNew = {};
        item._method = "PUT";

        for (var i = 0; i < props.languages.length; i++) {
            translationsNew[props.languages[i].locale] = {};
            for (var field in props.fieldsTranslations) {
                translationsNew[props.languages[i].locale][field] = "";
            }
        }

        for (var n = 0; n < translations.length; n++) {
            for (var fl in translations[n]) {
                if(translationsNew[translations[n].locale][fl] === "" && translations[n][fl] !== null){
                    translationsNew[translations[n].locale][fl] = translations[n][fl];
                }
            }
        }

        item.translations = translationsNew;

        const form = useForm(item);

        function submit() {
            this.LoaderIndicator(true)
            form.post(this.options.route + "update/" + this.entry.id, {
                preserveScroll: true,
                onSuccess: () => this.LoaderIndicator(false),
                onError: () => this.LoaderIndicator(false),
            })
        }

        return {form, submit}
    }
})
</script>
