<template>
    <div class="ecommerceScroll"></div>
</template>

<script>
import ecommerce from "../../../Mixins/Web/ecommerce";

export default {
    name: "ScrollEvent",
    props: {
        products: Array,
        priceFirst: Number,
        priceSecond: Number,
        priceThird: Number,
        salePriceFirst: Number,
        salePriceSecond: Number,
        salePriceThird: Number,
        outpostPrice: Number,
    },
    mixins: [
        ecommerce,
    ],
    mounted() {
        let viewItems = document.getElementsByClassName('ecommerceViewItemClick');
        for (let i = 0; i < viewItems.length; i++) {
            viewItems[i].addEventListener('click', this.ecommerceSendViewItemEvent);
        }

        // Додати прослуховування події scroll на елемент window
        window.addEventListener('scroll', this.handleScroll);

        // Додати прослуховування події click на елементи
        let els = document.getElementsByClassName('ecommerceSelectItemClick');
        for (let i = 0; i < els.length; i++) {
            let el = els[i];
            el.addEventListener('click', this.ecommerceSelectItemEvent);
        }
    },
}
</script>
