<template>
    <div class="modal m-b-15">
        <button @click="showModal = true" class="open m-r-15" type="button">
            <span class="m-r-5 icon-map-marker"></span> Обрати адресу
        </button>
        <vue-final-modal v-model="showModal" classes="modal-container" content-class="modal-content  modal-padding redBg maxW500">
            <div class="row">
                <div class="col-md-12 header h2Order">
                    <span class="m-r-5 icon-map-marker colMain"></span> Адреса доставки
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Область</label>
                        <v-select class="w100" label="name"
                                  :options="Object.values(areas)"
                                  v-model="area">
                            <span slot="no-options">{{trans('admin.selectNonList')}}</span>
                        </v-select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Місто/Село</label>
                        <v-select class="w100" :class="{ 'disabledSelect': !area }"
                                  label="name"
                                  placeholder="Місто"
                                  :options="Object.values(cites)"
                                  v-model="city">
                            <span slot="no-options">{{trans('admin.selectNonList')}}</span>
                        </v-select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group" v-if="!isTargetedDelivery">
                        <label>Відділення/Поштомат</label>
                        <v-select class="w100"  :class="{ 'disabledSelect': !city }"
                                  label="name"
                                  placeholder="Відділення"
                                  :options="Object.values(warehouses)"
                                  v-model="warehouse">
                            <span slot="no-options">Відділення</span>
                        </v-select>
                    </div>
                    <div class="form-group required" v-else>
                        <label>Адресна доставка</label>
                        <input v-model="address" placeholder="Адреса" class="form-control">
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group isCompany">
                        <input v-model="isTargetedDelivery" type="checkbox" id="isTargetedDelivery"/>
                        <label for="isTargetedDelivery">Адресна доставка</label>
                    </div>
                </div>
                <div class="col-md-12 p-b-20 btnGroup">
                    <button class="btn btnSuccess" @click="setAddress()" type="button">
                        <span class="icon-plus-circle"></span> Обрати
                    </button>
                    <button class="btn btnDefault" @click="showModal = false" type="button">
                        <span class="icon-ban"></span> {{trans('crud.cancel')}}
                    </button>
                </div>
            </div>
            <button class="modal-close" @click="showModal = false" type="button">
                <span class="icon-close2"></span>
            </button>
        </vue-final-modal>
    </div>
</template>

<script>

import {VueFinalModal} from 'vue-final-modal'
import vSelect from "vue-select";

export default {
    props: {
        modelValue: String,
    },
    components: {
        VueFinalModal,
        vSelect,
    },
    watch: {
        area: function () {
            this.getCities();
        },
        city: function () {
            this.getWarehouses();
        },
    },
    data: () => ({
        showModal: false,
        isTargetedDelivery: false,
        area: null,
        city: null,
        warehouse: null,
        areas: [],
        cites: [],
        warehouses: [],
        address: null,
    }),
    methods: {
        getAreas() {
            this.LoaderIndicator(true);
            axios.get('/api/v1/delivery/novaposhta-areas')
                .then(response => {
                    this.areas = response.data.data;
                    this.LoaderIndicator(false);
                }).catch(error => {
                    this.disabledBtn = false;
                this.LoaderIndicator(false);
                }
            );
        },
        getCities() {
            this.LoaderIndicator(true);
            axios.get('/api/v1/delivery/novaposhta-cities/' + this.area.ref_area_id)
                .then(response => {
                    this.cites = response.data.data;
                    this.LoaderIndicator(false);
                }).catch(error => {
                    this.disabledBtn = false;
                this.LoaderIndicator(false);
                }
            );
        },
        getWarehouses() {
            this.LoaderIndicator(true);
            axios.get('/api/v1/delivery/novaposhta-warehouses/' + this.city.ref_city_id)
                .then(response => {
                    this.warehouses = response.data.data;
                    this.LoaderIndicator(false);
                }).catch(error => {
                    this.disabledBtn = false;
                this.LoaderIndicator(false);
                }
            );
        },

        setAddress() {
            var address = 'обл.' + this.area.name + ' м.' + this.city.name + ' ';
            if(this.isTargetedDelivery){
                address += this.address;
                this.$emit('update:modelValue', address);
            }else{
                address += this.warehouse.name;
                this.$emit('update:modelValue', address);
            }
            this.showModal = false;
        },
        resetAddress() {
            this.address = null;
            this.warehouse = null;
        },
    },
    created() {
        this.getAreas();
    }
};
</script>
