<template>
    <app-layout title="Dashboard">
        <template #header>
            <h2 class="font-semibold text-xl text-gray-800 leading-tight">
                Головна
            </h2>
        </template>

        <div class="box overflowScroll p-t-15 p-b-50 p-l-15 p-r-15">
            <div class="row">
                <div class="col-md-12 m-b-15">
                    <div class=" text-center p-15" style="font-size: 1.2rem;">
                        {{trans('crud.hello')}}
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="w100 boxShadow m-b-15 p-b-15 chart">
                        <h3 class="text-center">
                            <span class="icon-area-chart colRed m-r-15"></span> График продаж за год
                        </h3>
                        <GChart type="AreaChart" :data="chartData" :options="chartOptions"/>
                    </div>
                </div>

<!--                <div class="col-md-4">-->
<!--                    <div class="boxDashboard">-->
<!--                        <h3><span class="icon-info-circle"></span> {{ trans('admin.invoices') }}</h3>-->
<!--                        <div class="content boxDashboardBorderRed">-->
<!--                            <span class="icon-files-o colRed m-r-15"></span> {{ data.totalInvoices }} шт-->
<!--                        </div>-->
<!--                        <div class="btnGroup">-->
<!--                            <a class="btnSuccess m-r-10" :href="route('admin.orders-new.create')">-->
<!--                                <span class="icon-play-circle-o"></span> {{ trans('admin.add') }}-->
<!--                            </a>-->
<!--                            <a class="btnDefault" :href="route('admin.orders-new')">-->
<!--                                <span class="icon-info-circle"></span> {{ trans('admin.show') }}-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <div class="boxDashboard">-->
<!--                        <h3><span class="icon-info-circle"></span> {{ trans('admin.sales') }}</h3>-->
<!--                        <div class="content boxDashboardBorderBlue">-->
<!--                            <span class="icon-credit-card colGreen m-r-15"></span> {{ data.ordersPriceInfo }} грн-->
<!--                        </div>-->
<!--                        <div class="btnGroup">-->
<!--                            <a class="btnSuccess m-r-10" :href="route('admin.orders-completed.create')">-->
<!--                                <span class="icon-play-circle-o"></span> {{ trans('admin.add') }}-->
<!--                            </a>-->
<!--                            <a class="btnDefault" :href="route('admin.orders-completed')">-->
<!--                                <span class="icon-info-circle"></span> {{ trans('admin.show') }}-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-4">-->
<!--                    <div class="boxDashboard">-->
<!--                        <h3><span class="icon-info-circle"></span> {{ trans('admin.clients') }}</h3>-->
<!--                        <div class="content boxDashboardBorderOrange">-->
<!--                            <span class="icon-users colOrange m-r-15"></span> {{ data.totalClients }} чел-->
<!--                        </div>-->
<!--                        <div class="btnGroup">-->
<!--                            <a class="btnSuccess m-r-10" :href="route('admin.clients.create')">-->
<!--                                <span class="icon-play-circle-o"></span> {{ trans('admin.add') }}-->
<!--                            </a>-->
<!--                            <a class="btnDefault" :href="route('admin.clients')">-->
<!--                                <span class="icon-info-circle"></span> {{ trans('admin.show') }}-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-3">-->
<!--                    <div class="boxDashboard">-->
<!--                        <h3><span class="icon-info-circle"></span> {{ trans('admin.totalProductsPrice') }}</h3>-->
<!--                        <div class="content boxDashboardBorderGreen">-->
<!--                            <span class="icon-product-hunt colGreen m-r-15"></span> {{ data.totalPriceProducts }}€-->
<!--                        </div>-->
<!--                        <div class="btnGroup">-->
<!--                            <a class="btnSuccess m-r-10" :href="route('admin.products.create')">-->
<!--                                <span class="icon-play-circle-o"></span> {{ trans('admin.add') }}-->
<!--                            </a>-->
<!--                            <a class="btnDefault" :href="route('admin.products')">-->
<!--                                <span class="icon-info-circle"></span> {{ trans('admin.show') }}-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md-12">-->
<!--                    <div class="w100 boxShadow tableNeedleProducts">-->
<!--                        <h3>-->
<!--                            <span class="icon-product-hunt colRed m-r-15"></span> {{trans('admin.productsNeedBuy')}}-->
<!--                        </h3>-->
<!--                        <table class="table table-bordered tableProduct table-hover responsive">-->
<!--                            <tr>-->
<!--                                <th>#</th>-->
<!--                                <th>{{trans('admin.name')}}</th>-->
<!--                                <th>{{trans('admin.code')}}</th>-->
<!--                                <th>{{trans('admin.quantityShort')}}</th>-->
<!--                                <th>{{trans('admin.priceOne')}}</th>-->
<!--                            </tr>-->
<!--                            <tr v-for="(product, key) in data.productsNeedBuy">-->
<!--                                <td>{{key+1}}</td>-->
<!--                                <td>{{product.name}}</td>-->
<!--                                <td>{{product.cod}}</td>-->
<!--                                <td>{{product.quantity}}</td>-->
<!--                                <td>{{product.price_buy}}€</td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </div>-->
<!--                </div>-->
            </div>
        </div>
    </app-layout>
</template>

<script>
import {defineComponent} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import Welcome from '@/Jetstream/Welcome.vue'
import JetApplicationLogo from '@/Jetstream/ApplicationLogo.vue'
import {GChart} from "vue3-googl-chart";


export default defineComponent({
    props: {
        data: Object,
    },
    components: {
        AppLayout,
        Welcome,
        JetApplicationLogo,
        GChart,
    },
    data() {
        return {
            // Array will be automatically processed with visualization.arrayToDataTable function
            chartData: [],
            chartOptions: {
                chart: {
                    title: 'График продаж за год',
                },
                colors: ['#1d8650']
            }
        }
    },
    created() {
        this.chartData = this.data.salesGrph;
    }
})
</script>
