@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    /*--main-color: #0057a3;*/
    --green-color: #1d8650;
    --gray-color: #e4e7eb;
    --blue-color: #288fd7;
    --blue-dark-color: #1A5FA3;
    /*--blue-dark-color: #0057a3;*/
    --orange-color: #f49f03;
    --gray-dark-color: #666667;
    --red-color: #ea3826;
    --collapseMenu-color: #0057a30d;
    --vs-border-radius: 0px;

    --main-color: #214b8e;
    --main-ligth-color: #9a86a7;
    --sidebar-main-color: #9a86a7;
    --sidebar-dark-color: #1f1f1f;
    --sidebar-font-color: white;
    --sidebar-border-left-color: #1f1f1f;;
}


.colMain{
    color: var(--main-color);
}

.colGreen{
    color: var(--green-color);
}

.colRed{
    color: var(--red-color);
}

.colBlue{
    color: var(--blue-dark-color);
}

.colBlueLight{
    color: var(--blue-color);
}

.colGray{
    color: var(--gray-color);
}

.colGrayDark{
    color: var(--gray-dark-color);
}

.colOrange{
    color: var(--orange-color);
}


.colWhite{
    color: var(--white-color);
}




body {
    font-size: 14px;
}

input::placeholder::first-letter{
    text-transform: uppercase;
}

input{
   font-size: 14px;
}

/*.firstLetter:first-letter{*/
/*    text-transform: capitalize;*/
/*}*/

.seoLabel{
    position: absolute;
    top: 16px;
    right: 25px;
    font-size: 12px;
    font-style: italic;
    background: white;
}



/*-------------HELPERS CSS-----------*/


/*----------------------------mainContent----------------------------*/

.mainContent {
    padding-left: 230px;
    width: 100%;
    padding-top: 0px !important;
    transition: .5s;
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
}

.mainContentIner {
    min-height: 68vh;
    transition: .5s;
    position: relative;
    background: white;
    margin: 0;
    z-index: 22;
    border-radius: 0px;
    padding: 30px 30px;
}

.titleBlock {
    padding: 25px;
    margin-bottom: 30px;
    margin-left:0;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


.page {
    padding-left: 15rem;
    padding-bottom: 24rem;
    display: block;
    padding-top: 4rem;
    overflow: hidden;
}

.pageTitle {
    font-size: 26px;
    margin-bottom: 10px;
    position: relative;
}

.pageTitle:after {
    position: absolute;
    left: 0;
    bottom: 1px;
    height: 2px;
    width: 80px;
    background: var(--sidebar-border-left-color);
    content: "";
}

.pageLinks {
    background: transparent;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    list-style: none;
    border-radius: 0.25rem;
}

.pageLinks li {
    font-size: 13px;
    font-weight: 400;
    color: initial;
    padding-left: 0.5rem;
    font-style: italic;
}

.pageLinks li:first-child {
    padding-left: 0;
}

.pageLinks li::before {
    content: ">";
    color: initial;
    padding-right: 0.5rem;
}


.pageLinks li:first-child::before {
    content: "";
    padding-right: 0;
}




.h2Order{
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    font-style: italic;
    margin-bottom: 20px;
}



.dropdownPhone{
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    z-index: 1000;
    margin:0 5.5%;
    width: 89%;
    max-height: 350px;
    min-width: 160px;
    overflow-y: auto;
    border: 1px solid rgb(217 217 217);
    border-top-style: none;
    text-align: left;
    list-style: none;
    background: #fff;
}

.dropdownPhone li{
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
}

.dropdownPhone li:hover{
    background: #ececec8c;
}


.dropdownPhone li .name{
    font-weight: 500;
    font-size: 13px;
}

.dropdownPhone li .phone{
    font-weight: 300;
}

.tableOrder{
    overflow: scroll;
}

.deliveryAddress{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.deliveryAddress .open{
    color: var(--main-color);
    background: white;
    padding: 9px 12px 10px 12px;
    border-radius: 4px;
    border: 1px solid var(--main-color);
    transition: 0.3s;
}


.deliveryAddress .open:hover{
    background: var(--main-color);
    color: white;
}


.disabledSelect {
    pointer-events: none;
    color: #98a6b7;
    cursor: not-allowed;
    background-image: none;
    background-color: #e4e5e840;
    border-color: #d9d9d9;
}


.isCompany{
    display: flex;
    align-items: center;
}

.isCompany input{
    margin-right: 7px;
}




.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    overflow: auto;
    border-radius: 4px;
    padding: 20px;
    color: var(--color-white);
    margin: 5%;
    background: white;
    width: 90%;
}

.modal-content .header {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
    font-size: 18px;
}

.modal-content .sendBtnRed,
.modal-content .sendBtnBlue {
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    color: var(--color-white);
    background: transparent;
}

.modal-content .sendBtnRed:hover {
    color: var(--color-red);
    background: var(--color-white);
}

.modal-content .sendBtnBlue:hover {
    color: var(--color-blue);
    background: var(--color-white);
}

.modal-close {
    position: absolute;
    top: 5px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    margin: 8px 8px 0 0;
    cursor: pointer;
    background: transparent;
    border: none;
}

.modal-close:hover {
    color: gray;
}

.tableProduct tr th:nth-child(1),
.tableProduct tr td:nth-child(1){
    text-align: center;
}

.tableProductModal tr th:nth-child(1),
.tableProductModal tr td:nth-child(1){
    text-align: left;
}

.tableProduct tr th:nth-child(4),
.tableProduct tr th:nth-child(5),
.tableProduct tr th:nth-child(6),
.tableProduct tr td:nth-child(4),
.tableProduct tr td:nth-child(5),
.tableProduct tr td:nth-child(6){
    width: 130px;
    text-align: center;
}

.tableProduct tr th:nth-child(7),
.tableProduct tr td:nth-child(7){
    width: 60px;
    text-align: center;
}


.tableProductsModal tr:nth-child(1){
    position: sticky;
    top: -1px;
    background: #f4f4f4;
}

.tableProductsModal tr th:nth-child(1),
.tableProductsModal tr td:nth-child(1){
    text-align: left;
}

.tableProductsModal{
    position: relative;
    overflow: scroll;
    max-height: 400px;
    font-weight: 100;
}

.categoryNameTh > span{
    text-transform: uppercase;
}


.catBtn{
    margin:10px;
    padding: 5px 10px;
    border-radius: 0.375rem;
    transition: 0.3s;
}
.addCategoryProduct{
    background: white;
    color: var(--main-color);
    border: 1px solid var(--main-color);
}

.addCategoryProduct:hover{
    background: var(--main-color);
    color: white;
}

.deleteCategory{
    background: white;
    color: var(--gray-dark-color);
    border: 1px solid var(--gray-dark-color);
}

.deleteCategory:hover{
    background: var(--gray-dark-color);
    color: white;
}

.boxDashboard{
    border-radius: 11px;
    text-align: center;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
    margin-top: 15px;
}

.boxDashboard h3 span{
    color: var(--main-color);
}

.boxDashboard h3{
    font-size: 16px;
    padding: 15px 20px;
    text-align: left;
    border-radius: 10px 10px 0 0;
}


.boxDashboard .content{
    font-size: 20px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}



.boxDashboardBorderGreen{
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.boxDashboardBorderOrange{
    border-top: 2px solid var(--orange-color);
    border-bottom: 2px solid var(--orange-color);
}

.boxDashboardBorderBlue{
    border-top: 2px solid var(--blue-dark-color);
    border-bottom: 2px solid var(--blue-dark-color);
}

.boxDashboardBorderRed{
    border-top: 2px solid var(--red-color);
    border-bottom: 2px solid var(--red-color);
}


.boxDashboard .content span{
    font-size: 25px;
}

.boxDashboard .btnGroup{
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.boxDashboard a{
    border-radius: 5px;
    padding: 5px 5px;
    min-width: 100px;
    transition: 0.3s;
}

.chart h3{
    font-size: 16px;
    padding: 15px;
}


.tableNeedleProducts{
    background: white;
    margin: 25px 0;
    padding: 5px 25px 25px 25px;
    max-height: 400px;
    overflow: scroll;
}

.tableNeedleProducts h3{
    font-size: 16px;
    padding: 15px;
    font-weight: 900;
    text-align: center;
}

.powered{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    width: 100%;
    background: white;
}


.powered img{
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#orders .photoTd img{
    max-width: 30px;
    margin: auto;
}












/*----------------------------mainContent----------------------------*/

.navHeader {
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 2;
}


/*-------------BOX-----------*/

.langBox {
    display: flex;
    cursor: pointer;
}

.langBoxFields {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}


.langItem {
    display: none;
}


.langBoxFields .active {
    display: block;
    border: 1px solid #e4e7eb;
    padding: 20px;
}

.langItemName {
    padding: 10px 25px;
    text-transform: uppercase;
}

.langItemName {
    border: 1px solid transparent;
    border-top: 2px solid transparent;
}
.langBox .active {
    border-top: 2px solid var(--main-color);
    border-left: 1px solid var(--gray-color);
    border-right: 1px solid var(--gray-color);
}

/*-------------BOX-----------*/
.box {
    width: 100%;
    background-color: white;
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}


.boxShadow {
    box-shadow: 0 0.46875rem 2.1875rem rgb(4 9 20 / 3%), 0 0.9375rem 1.40625rem rgb(4 9 20 / 3%), 0 0.25rem 0.53125rem rgb(4 9 20 / 5%), 0 0.125rem 0.1875rem rgb(4 9 20 / 3%);
}


/*-------------TABLE-----------*/

.tableResponsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    width: 100%;
    border-collapse: collapse;
}


.table > caption + thead > tr:first-child > td, .table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > td, .table > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.table > thead > tr > th {
    border-bottom: 2px solid #f4f4f4;
}

.table > thead > tr > th::first-letter,
.table > tfoot > tr > th::first-letter {
    text-transform: capitalize;
}

.table td, .table th {
    padding: 8px 15px;
    line-height: 1.5;
    text-align: left;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}


.table > tbody tr {
    transition: 0.2s;
}

.table > tbody tr:hover {
    background: #9c9c9c33;
    cursor: pointer;
}

.boxGray {
    padding: 20px 30px;
    background: #f2f2f296;
}

/*-------------BoxImages-------------*/
.boxTable {
    padding: 15px 25px;
    background: #f6f6f6ad;
    border: 0 solid #bbbbbb;
    margin: 15px 0 30px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.boxImages {
    padding: 15px;
    background: #f6f6f6ad;
    border: 5px dashed #bbbbbb;
    margin: 15px 0 30px 0;
    display: flex;
    justify-content: center;
}

.boxImg, .boxImgLast {
    display: block;
    height: 250px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}


.boxImgLast {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.3s;
}

.boxImgLast span {
    transition: 0.3s;
    font-size: 25px;
    padding: 10px;
}

.boxImgLast:hover > span {
    font-size: 30px;
}


.boxImg .info {
    z-index: 2;
    background: #f8f8f8;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 3px;
}

.boxImg .delete {
    position: absolute;
    right: 0;
    background: #f8f8f8;
    width: 30px;
    height: 30px;
    display: flex;
    z-index: 0;
    align-items: center;
    justify-content: center;
    color: #707070;
    cursor: pointer;
}

/*-------------END BoxImages-------------*/
.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    text-decoration: none;
    transition: background-color .3s;
    display: flex;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    margin: 0 3px;
}

.pagination li {
    display: inline;
}


.pagination li a:hover:not(.active),
.pagination .active a {
    background: var(--main-color);
    color: white;
    border-radius: 5px;
}

.sr-only {
    display: none;
}


/*----------IMAGES--------------*/


.avatarCropper {
    margin-bottom: 30px;
    display: block;
    max-width: 400px;
    box-shadow: 0 0 13px rgb(0 0 0 / 10%);
}


/*----------FIELDS--------------*/

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    padding-bottom: 5px;
    display: block;
}

.form-group label:first-letter {
    text-transform: uppercase;
}

.form-group .error {
    color: red;
}


.form-group img {
    width: 100%;
}


.form-control {
    width: 100%;
    border-radius: 0.375rem;
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity));
    --tw-shadow-colored: 0 1px 2px 0 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    border-width: 1px;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    font-size: 14px;
    line-height: 1.5rem;
    --tw-shadow: 0 0 #0000;
}

.form-control:focus,
.form-control:active,
.form-control:focus-visible,
.table-form:focus,
.table-form:active,
.table-form:focus-visible {
    outline: none;
}

.vs--searchable .vs__dropdown-toggle {
    cursor: text;
    min-height: 42px;
    font-size: 1rem;
    line-height: 1.5rem;
}

#app .vs__search{
    font-size: 14px;
}

.table-form{
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    background: transparent;
    border: none;
    font-size: 14px;
}

/*----------NOTIFICATIONS-------*/


.error {
    color: #ea3826;
    border-color: #ea3826;
}

.error input,
.error textarea {
    color: black;
    border-color: #ea3826;
}

.error .vs__dropdown-toggle {
    color: black;
    border-color: #ea3826;
}

.error .vs__dropdown-toggle input {
    color: black;
    border-color: transparent;
}

.radioBlock {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
}

.radioBlock input {
    margin-right: 10px;
    cursor: pointer;
}


.radioBlock .color {
    width: 30px;
    height: 15px;
    display: block;
    border-radius: 100px;
}


.radioBlock label {
    cursor: pointer;
    padding: 0;
    margin-right: 25px;
}

.radioBlock label:not(:empty)::after {
    display: none;
}

.flashNotifications {
    width: 100%;
    max-width: 275px;
    position: fixed;
    z-index: 10000000;
    right: 30px;
    top: 25px;
    padding: 15px;
    border-radius: 10px;
    transition: 0.5s;
    opacity: 0;
}


.flashNotifications div {
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.flashNotifications .green {
    background: #2aa049;
    color: white;
}

.flashNotifications .red {
    background: #e50000;
    color: white;
}

.flashNotifications .message {
    background: #0090c0;
    color: white;
}


.form-group.required label:not(:empty)::after {
    content: ' *';
    color: #ff0000;
}

/*----------filters--------------*/
.filters {
    margin-bottom: 30px;
    padding: 15px;
}

.filters .vs--searchable .vs__dropdown-toggle {
    border-radius: var(--vs-border-radius);
}

/*----------filters--------------*/
.cursorPointer {
    cursor: pointer;
}

.cursorNotAllowed {
    cursor: not-allowed;
}

/*----------menu--------------*/



.sidebar {
    font-size: 14px;
    background-color: #fff;
    width: 15rem;
    position: fixed;
    z-index: 10;
    margin: 0;
    top: 4rem;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    overflow-y: auto;
}

.sidebar li a {
    padding: 15px 25px;
    display: block;
    border-left: 3px solid white;
    transition: 0.1s;
}

.sidebar .active a, .sidebar li a:hover {
    background: var(--main-color);
    color: white;
    border-left: 3px solid var(--sidebar-border-left-color);
}

.sidebar .active span, .sidebar li a:hover span {
    color: white;
}


.sidebar .nav-links {
    display: none;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 0 0.75rem;
}

.sidebar > .sidebar-links {
    padding: 1.5rem 0;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.sidebar span {
    color: var(--main-color);
}

.sidebar li .collapseMenu {
    background: var(--collapseMenu-color);
    /*background: #1d86501c;*/
}

.sidebar li .collapseMenu a {
    padding-left: 35px;
}

.collapseMenu li:last-child {
    padding-bottom: 0;
}


.mobileMenuBox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    padding: 25px;
    color: #111111;
    overflow: scroll;
}

.mobileMenuBox li .collapseMenu a {
    padding-left: 55px;
}

.mobileMenuBox li button,
.mobileMenuBox li a {
    padding: 15px 25px;
    display: block;
    border-left: 3px solid white;
    transition: 0.1s;
}

.mobileMenuBox .active a,
.mobileMenuBox .active button{
    color: var(--main-color);
    border-left: 3px solid var(--sidebar-border-left-color);
}

.mobileMenuBox span{
    color: var(--main-color);
}

.burgerMenu button{
    color: #9da4b0;
    font-size: 20px;
}

.burgerMenuClose{
    position: absolute;
    z-index: 100;
    right: 35px;
    font-size: 27px;
}


/*----------COLORS--------------*/

.overflowHidden {
    overflow: hidden;
}

.overflowScroll {
    overflow: scroll;
}

/*----------COLORS--------------*/

.colGreen {
    color: #1d8650;
}

.colOrange {
    color: #de9000;
}

.colRed {
    color: #ea3826;
    border-color: #ea3826;
}

.colViolet {
    color: #8860d4;
}

.colGrey {
    color: #6b7280;
}

.bgWhite {
    background: white;
}

/*--------DISPLAYS-----------*/

/*    display HELPERS    */

.mobile {
    display: none;
}

.tablet {
    display: none;
}

.desktop {
    display: block;
}

.displayBlock {
    display: block;
}

.displayInline {
    display: inline;
}

.displayInitial {
    display: initial;
}

.displayNone {
    display: none;
}

.displayInlineBlock {
    display: inline-block;
}

.displayFlex {
    display: flex;
}

.displayFlexColumn {
    display: flex;
    flex-direction: column;
}

.displayFlexRow {
    display: flex;
    flex-direction: row;
}

.displayCenterFlex {
    display: flex;
    align-items: center;
    justify-content: center
}

.displayCenterVertical {
    display: flex;
    align-items: center;
}

.displayCenterHorizontal {
    display: flex;
    justify-content: center;
}

.displaySpaceBetweenFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayLeftFlex {
    display: flex;
    justify-content: flex-start;
}

.displayRightFlex {
    display: flex;
    justify-content: flex-end;
}


/*-------------------BUTTONS-------------------*/


.btn {
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px !important;
    border-radius: 0.375rem;
}

.btnGroup {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.btnGroup button {
    margin-right: 15px;
}

.btn span {
    margin-right: 5px;
}

.btnSuccessLight {
    background: white;
    color: var(--main-ligth-color);
    border: 1px solid var(--main-ligth-color);
}

.btnSuccessLight:hover {
    background: var(--main-ligth-color);
    color: white;
}

.btnSuccess {
    background: var(--main-color);
    color: white;
    border: 1px solid var(--main-color);
}

.btnSuccess:hover {
    background: white;
    color: var(--main-color);
}

.btnDefault {
    background: #ffffff;
    color: #666667;
    border: 1px solid #c6c6c6;
}

.btnDefault:hover {
    background: #666667;
    color: white;
    border: 1px solid #666667;
}


.btnIcon {
    background: transparent;
    border: none;
    width: 25px;
    font-size: 18px;
    height: 25px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 5px;
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.btnClear {
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.orderBox {
    padding: 30px 15px;
}

/*    text-left HELPERS    */
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-center-vertical {
    vertical-align: middle;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-decoration-none {
    text-decoration: none;
}

.text-decoration-underline {
    text-decoration: underline;
}

.text-italic {
    font-style: italic;
}


.text-bold {
    font-weight: 600;
}


a:hover, a:focus {
    text-decoration: none;
    outline: none;
}


.right {
    float: right;
}

.left {
    float: left;
}


.rotate0 {
    transition: 0.3s;
    transform: rotate(0deg);
}

.rotate90 {
    transition: 0.3s;
    transform: rotate(90deg);
}


.rotate180 {
    transition: 0.3s;
    transform: rotate(180deg);
}

/*    GRID HELPERS    */

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}


.container-fluid, .container-sm, .container-md, .container-lg, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container, .container-sm {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, .container-sm, .container-md {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, .container-sm, .container-md, .container-lg {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1140px;
    }
}

.flexCol {
    flex-direction: column;
}

.rewFlex {
    display: flex;
    position: relative;
    height: 100%;
}

.rewFlex > div {
    overflow: hidden;
    min-height: 550px;
}

.rewFlex img {
    height: 100%;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.order-first {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.order-last {
    -webkit-box-ordinal-group: 14;
    -ms-flex-order: 13;
    order: 13;
}

.order-0 {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
}

.order-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

.order-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

.order-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.order-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
}

.order-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
}

.order-6 {
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
}

.order-7 {
    -webkit-box-ordinal-group: 8;
    -ms-flex-order: 7;
    order: 7;
}

.order-8 {
    -webkit-box-ordinal-group: 9;
    -ms-flex-order: 8;
    order: 8;
}

.order-9 {
    -webkit-box-ordinal-group: 10;
    -ms-flex-order: 9;
    order: 9;
}

.order-10 {
    -webkit-box-ordinal-group: 11;
    -ms-flex-order: 10;
    order: 10;
}

.order-11 {
    -webkit-box-ordinal-group: 12;
    -ms-flex-order: 11;
    order: 11;
}

.order-12 {
    -webkit-box-ordinal-group: 13;
    -ms-flex-order: 12;
    order: 12;
}

.offset-1 {
    margin-left: 8.3333333333%;
}

.offset-2 {
    margin-left: 16.6666666667%;
}

.offset-3 {
    margin-left: 25%;
}

.offset-4 {
    margin-left: 33.3333333333%;
}

.offset-5 {
    margin-left: 41.6666666667%;
}

.offset-6 {
    margin-left: 50%;
}

.offset-7 {
    margin-left: 58.3333333333%;
}

.offset-8 {
    margin-left: 66.6666666667%;
}

.offset-9 {
    margin-left: 75%;
}

.offset-10 {
    margin-left: 83.3333333333%;
}

.offset-11 {
    margin-left: 91.6666666667%;
}

@media (max-width: 767px) {
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .titleBlock{
        flex-direction: column;
        align-items: inherit;
    }
}


@media (min-width: 576px) {
    .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-sm-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .order-sm-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .order-sm-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .order-sm-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-sm-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .order-sm-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .order-sm-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .order-sm-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .order-sm-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .order-sm-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .order-sm-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .order-sm-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .order-sm-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .order-sm-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .order-sm-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.3333333333%;
    }

    .offset-sm-2 {
        margin-left: 16.6666666667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.3333333333%;
    }

    .offset-sm-5 {
        margin-left: 41.6666666667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.3333333333%;
    }

    .offset-sm-8 {
        margin-left: 66.6666666667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.3333333333%;
    }

    .offset-sm-11 {
        margin-left: 91.6666666667%;
    }
}

@media (min-width: 768px) {

    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .order-md-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .order-md-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .order-md-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-md-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .order-md-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .order-md-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .order-md-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .order-md-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .order-md-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .order-md-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .order-md-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .order-md-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .order-md-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .order-md-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.3333333333%;
    }

    .offset-md-2 {
        margin-left: 16.6666666667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.3333333333%;
    }

    .offset-md-5 {
        margin-left: 41.6666666667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.3333333333%;
    }

    .offset-md-8 {
        margin-left: 66.6666666667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.3333333333%;
    }

    .offset-md-11 {
        margin-left: 91.6666666667%;
    }
}

@media (min-width: 992px) {
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-lg-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .order-lg-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .order-lg-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .order-lg-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-lg-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .order-lg-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .order-lg-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .order-lg-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .order-lg-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .order-lg-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .order-lg-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .order-lg-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .order-lg-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .order-lg-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .order-lg-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.3333333333%;
    }

    .offset-lg-2 {
        margin-left: 16.6666666667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.3333333333%;
    }

    .offset-lg-5 {
        margin-left: 41.6666666667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.3333333333%;
    }

    .offset-lg-8 {
        margin-left: 66.6666666667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.3333333333%;
    }

    .offset-lg-11 {
        margin-left: 91.6666666667%;
    }
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


/*    MARGIN HELPERS    */
.m-0 {
    margin: 0;
}

.m-t-0 {
    margin-top: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-t-5 {
    margin-top: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-l-5 {
    margin-left: 5px;
}

.m-b-5 {
    margin-bottom: 5px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-r-10 {
    margin-right: 10px;
}

.m-l-10 {
    margin-left: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-l-12 {
    margin-left: 12px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-r-15 {
    margin-right: 15px;
}

.m-l-15 {
    margin-left: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-r-20 {
    margin-right: 20px;
}

.m-l-20 {
    margin-left: 20px;
}

.m-b-20 {
    margin-bottom: 20px;
}

.m-t-25 {
    margin-top: 25px;
}

.m-r-25 {
    margin-right: 25px;
}

.m-l-25 {
    margin-left: 25px;
}

.m-b-25 {
    margin-bottom: 25px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-r-30 {
    margin-right: 30px;
}

.m-l-30 {
    margin-left: 30px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.m-t-35 {
    margin-top: 35px;
}

.m-r-35 {
    margin-right: 35px;
}

.m-l-35 {
    margin-left: 35px;
}

.m-b-35 {
    margin-bottom: 35px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-r-40 {
    margin-right: 40px;
}

.m-l-40 {
    margin-left: 40px;
}

.m-b-40 {
    margin-bottom: 40px;
}

.m-t-45 {
    margin-top: 45px;
}

.m-r-45 {
    margin-right: 45px;
}

.m-l-45 {
    margin-left: 45px;
}

.m-b-45 {
    margin-bottom: 45px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-r-50 {
    margin-right: 50px;
}

.m-l-50 {
    margin-left: 50px;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-55 {
    margin-top: 55px;
}

.m-r-55 {
    margin-right: 55px;
}

.m-l-55 {
    margin-left: 55px;
}

.m-b-55 {
    margin-bottom: 55px;
}

.m-t-60 {
    margin-top: 60px;
}

.m-r-60 {
    margin-right: 60px;
}

.m-l-60 {
    margin-left: 60px;
}

.m-b-60 {
    margin-bottom: 60px;
}

.m-t-65 {
    margin-top: 65px;
}

.m-r-65 {
    margin-right: 65px;
}

.m-l-65 {
    margin-left: 65px;
}

.m-b-65 {
    margin-bottom: 65px;
}

.m-t-70 {
    margin-top: 70px;
}

.m-r-70 {
    margin-right: 70px;
}

.m-l-70 {
    margin-left: 70px;
}

.m-b-70 {
    margin-bottom: 70px;
}

.m-t-75 {
    margin-top: 75px;
}

.m-r-75 {
    margin-right: 75px;
}

.m-l-75 {
    margin-left: 75px;
}

.m-b-75 {
    margin-bottom: 75px;
}

.m-t-80 {
    margin-top: 80px;
}

.m-r-80 {
    margin-right: 80px;
}

.m-l-80 {
    margin-left: 80px;
}

.m-b-80 {
    margin-bottom: 80px;
}

.m-t-85 {
    margin-top: 85px;
}

.m-r-85 {
    margin-right: 85px;
}

.m-l-85 {
    margin-left: 85px;
}

.m-b-85 {
    margin-bottom: 85px;
}

.m-t-90 {
    margin-top: 90px;
}

.m-r-90 {
    margin-right: 90px;
}

.m-l-90 {
    margin-left: 90px;
}

.m-b-90 {
    margin-bottom: 90px;
}

.m-t-95 {
    margin-top: 95px;
}

.m-r-95 {
    margin-right: 95px;
}

.m-l-95 {
    margin-left: 95px;
}

.m-b-95 {
    margin-bottom: 95px;
}

.m-t-100 {
    margin-top: 100px;
}

.m-r-100 {
    margin-right: 100px;
}

.m-l-100 {
    margin-left: 100px;
}

.m-b-100 {
    margin-bottom: 100px;
}


/*    PADDING HELPERS   */
.p-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-t-5 {
    padding-top: 5px !important;
}

.p-r-5 {
    padding-right: 5px !important;
}

.p-l-5 {
    padding-left: 5px !important;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.p-r-10 {
    padding-right: 10px !important;
}

.p-l-10 {
    padding-left: 10px !important;
}

.p-b-10 {
    padding-bottom: 10px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-t-15 {
    padding-top: 15px !important;
}

.p-r-15 {
    padding-right: 15px !important;
}

.p-l-15 {
    padding-left: 15px !important;
}

.p-b-15 {
    padding-bottom: 15px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-t-20 {
    padding-top: 20px !important;
}

.p-r-20 {
    padding-right: 20px !important;
}

.p-l-20 {
    padding-left: 20px !important;
}

.p-b-20 {
    padding-bottom: 20px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-t-25 {
    padding-top: 25px !important;
}

.p-r-25 {
    padding-right: 25px !important;
}

.p-l-25 {
    padding-left: 25px !important;
}

.p-b-25 {
    padding-bottom: 25px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-t-30 {
    padding-top: 30px !important;
}

.p-r-30 {
    padding-right: 30px !important;
}

.p-l-30 {
    padding-left: 30px !important;
}

.p-b-30 {
    padding-bottom: 30px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-t-35 {
    padding-top: 35px !important;
}

.p-r-35 {
    padding-right: 35px !important;
}

.p-l-35 {
    padding-left: 35px !important;
}

.p-b-35 {
    padding-bottom: 35px !important;
}

.p-35 {
    padding: 35px !important;
}

.p-t-40 {
    padding-top: 40px !important;
}

.p-r-40 {
    padding-right: 40px !important;
}

.p-l-40 {
    padding-left: 40px !important;
}

.p-b-40 {
    padding-bottom: 40px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-t-45 {
    padding-top: 45px !important;
}

.p-r-45 {
    padding-right: 45px !important;
}

.p-l-45 {
    padding-left: 45px !important;
}

.p-b-45 {
    padding-bottom: 45px !important;
}

.p-45 {
    padding: 45px !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.p-r-50 {
    padding-right: 50px !important;
}

.p-l-50 {
    padding-left: 50px !important;
}

.p-b-50 {
    padding-bottom: 50px !important;
}

.p-50 {
    padding: 50px !important;
}

.p-t-55 {
    padding-top: 55px !important;
}

.p-r-55 {
    padding-right: 55px !important;
}

.p-l-55 {
    padding-left: 55px !important;
}

.p-b-55 {
    padding-bottom: 55px !important;
}

.p-55 {
    padding: 55px !important;
}

.p-t-60 {
    padding-top: 60px !important;
}

.p-r-60 {
    padding-right: 60px !important;
}

.p-l-60 {
    padding-left: 60px !important;
}

.p-b-60 {
    padding-bottom: 60px !important;
}

.p-60 {
    padding: 60px !important;
}

.p-t-65 {
    padding-top: 65px !important;
}

.p-r-65 {
    padding-right: 65px !important;
}

.p-l-65 {
    padding-left: 65px !important;
}

.p-b-65 {
    padding-bottom: 65px !important;
}

.p-65 {
    padding: 65px !important;
}

.p-t-70 {
    padding-top: 70px !important;
}

.p-r-70 {
    padding-right: 70px !important;
}

.p-l-70 {
    padding-left: 70px !important;
}

.p-b-70 {
    padding-bottom: 70px !important;
}

.p-70 {
    padding: 70px !important;
}

.p-t-75 {
    padding-top: 75px !important;
}

.p-r-75 {
    padding-right: 75px !important;
}

.p-l-75 {
    padding-left: 75px !important;
}

.p-b-75 {
    padding-bottom: 75px !important;
}

.p-75 {
    padding: 75px !important;
}

.p-t-80 {
    padding-top: 80px !important;
}

.p-r-80 {
    padding-right: 80px !important;
}

.p-l-80 {
    padding-left: 80px !important;
}

.p-b-80 {
    padding-bottom: 80px !important;
}

.p-80 {
    padding: 80px !important;
}

.p-t-85 {
    padding-top: 85px !important;
}

.p-r-85 {
    padding-right: 85px !important;
}

.p-l-85 {
    padding-left: 85px !important;
}

.p-b-85 {
    padding-bottom: 85px !important;
}

.p-85 {
    padding: 85px !important;
}

.p-t-90 {
    padding-top: 90px !important;
}

.p-r-90 {
    padding-right: 90px !important;
}

.p-l-90 {
    padding-left: 90px !important;
}

.p-b-90 {
    padding-bottom: 90px !important;
}

.p-90 {
    padding: 90px !important;
}

.p-t-95 {
    padding-top: 95px !important;
}

.p-r-95 {
    padding-right: 95px !important;
}

.p-l-95 {
    padding-left: 95px !important;
}

.p-b-95 {
    padding-bottom: 95px !important;
}

.p-95 {
    padding: 95px !important;
}

.p-t-100 {
    padding-top: 100px !important;
}

.p-r-100 {
    padding-right: 100px !important;
}

.p-l-100 {
    padding-left: 100px !important;
}

.p-b-100 {
    padding-bottom: 100px !important;
}

.p-100 {
    padding: 100px !important;
}


.w100 {
    width: 100%;
}

.w75 {
    width: 75%;
}


.w50 {
    width: 50%;
}

.w25 {
    width: 25%;
}

.w33 {
    width: 33.3333333333%;
}

.w90 {
    width: 90%;
}


.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50%;
}

.w40 {
    width: 40%;
}

.w30 {
    width: 30%;
}

.w20 {
    width: 20%;
}

.w10 {
    width: 10%;
}



.marginAuto{
    margin: auto;
}

.maxW80{
    max-width: 80px;
}

.maxW100{
    max-width: 100px;
}

.maxW200{
    max-width: 200px;
}

.maxW300{
    max-width: 300px;
}

.maxW400{
    max-width: 400px;
}

.maxW500{
    max-width: 500px;
}

.maxW600{
    max-width: 600px;
}

.maxW700{
    max-width: 700px;
}

.maxW800{
    max-width: 800px;
}

.maxW900{
    max-width: 900px;
}

.maxW1000{
    max-width: 1000px;
}

.minW50{
    min-width:50px;
}

.minW60{
    min-width:60px;
}

.minW70{
    min-width:70px;
}

.minW80{
    min-width: 80px;
}

.minW90{
    min-width: 90px;
}

.minW100{
    min-width: 100px;
}

.minW160{
    min-width: 160px;
}

.minW200{
    min-width: 200px;
}

.minW300{
    min-width: 300px;
}

.minW400{
    min-width: 400px;
}

.minW500{
    min-width: 500px;
}

.minW600{
    min-width: 600px;
}

.minW700{
    min-width: 700px;
}

.minW800{
    min-width: 800px;
}

.minW900{
    min-width: 900px;
}

.minW1000{
    min-width: 1000px;
}




@media (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .page {
        padding-left: 0;
    }

    .mobileMenu {

    }
}

@media (min-width: 0px) {
    .col-xs-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .col-xs-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-xs-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-xs-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-xs-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-xs-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-xs-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-xs-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-xs-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-xs-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-xs-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-xs-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-sm-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .order-sm-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .order-sm-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .order-sm-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-sm-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .order-sm-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .order-sm-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .order-sm-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .order-sm-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .order-sm-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .order-sm-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .order-sm-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .order-sm-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .order-sm-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .order-sm-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.3333333333%;
    }

    .offset-sm-2 {
        margin-left: 16.6666666667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.3333333333%;
    }

    .offset-sm-5 {
        margin-left: 41.6666666667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.3333333333%;
    }

    .offset-sm-8 {
        margin-left: 66.6666666667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.3333333333%;
    }

    .offset-sm-11 {
        margin-left: 91.6666666667%;
    }
}

@media (min-width: 576px) {

    .col-sm-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .col-sm-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-sm-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-sm-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-sm-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-sm-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-sm-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-sm-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-sm-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-sm-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-sm-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-sm-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .order-sm-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .order-sm-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .order-sm-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-sm-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .order-sm-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .order-sm-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .order-sm-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .order-sm-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .order-sm-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .order-sm-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .order-sm-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .order-sm-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .order-sm-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .order-sm-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-sm-0 {
        margin-left: 0;
    }

    .offset-sm-1 {
        margin-left: 8.3333333333%;
    }

    .offset-sm-2 {
        margin-left: 16.6666666667%;
    }

    .offset-sm-3 {
        margin-left: 25%;
    }

    .offset-sm-4 {
        margin-left: 33.3333333333%;
    }

    .offset-sm-5 {
        margin-left: 41.6666666667%;
    }

    .offset-sm-6 {
        margin-left: 50%;
    }

    .offset-sm-7 {
        margin-left: 58.3333333333%;
    }

    .offset-sm-8 {
        margin-left: 66.6666666667%;
    }

    .offset-sm-9 {
        margin-left: 75%;
    }

    .offset-sm-10 {
        margin-left: 83.3333333333%;
    }

    .offset-sm-11 {
        margin-left: 91.6666666667%;
    }
}

@media (min-width: 768px) {

    .col-md-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }

    .col-md-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-md-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-md-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-md-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-md-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-md-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-md-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-md-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-md-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-md-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-md-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-md-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .order-md-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .order-md-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .order-md-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-md-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .order-md-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .order-md-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .order-md-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .order-md-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .order-md-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .order-md-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .order-md-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .order-md-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .order-md-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .order-md-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-md-0 {
        margin-left: 0;
    }

    .offset-md-1 {
        margin-left: 8.3333333333%;
    }

    .offset-md-2 {
        margin-left: 16.6666666667%;
    }

    .offset-md-3 {
        margin-left: 25%;
    }

    .offset-md-4 {
        margin-left: 33.3333333333%;
    }

    .offset-md-5 {
        margin-left: 41.6666666667%;
    }

    .offset-md-6 {
        margin-left: 50%;
    }

    .offset-md-7 {
        margin-left: 58.3333333333%;
    }

    .offset-md-8 {
        margin-left: 66.6666666667%;
    }

    .offset-md-9 {
        margin-left: 75%;
    }

    .offset-md-10 {
        margin-left: 83.3333333333%;
    }

    .offset-md-11 {
        margin-left: 91.6666666667%;
    }
}


@media (max-width: 991px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        width: 100%;
    }
    .desktop {
        display: none;
    }

    .tablet {
        display: block;
    }
}

@media (max-width: 767px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
        width: 100%;
    }

    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }


    .mobile {
        display: block;
    }

    .textCenter-sm {
        text-align: center;
    }

    .deliveryAddress{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    .addressRecipient{
        margin-top: 15px;
    }
}

@media (max-width: 575px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        width: 100%;
    }
}



@media (min-width: 992px) {
    .col-lg-1 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
        flex: 0 0 8.3333333333%;
        max-width: 8.3333333333%;
    }


    .col-lg-2 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
        flex: 0 0 16.6666666667%;
        max-width: 16.6666666667%;
    }

    .col-lg-3 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-lg-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }

    .col-lg-5 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
        flex: 0 0 41.6666666667%;
        max-width: 41.6666666667%;
    }

    .col-lg-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .col-lg-7 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
        flex: 0 0 58.3333333333%;
        max-width: 58.3333333333%;
    }

    .col-lg-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
        flex: 0 0 66.6666666667%;
        max-width: 66.6666666667%;
    }

    .col-lg-9 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .col-lg-10 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
        flex: 0 0 83.3333333333%;
        max-width: 83.3333333333%;
    }

    .col-lg-11 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
        flex: 0 0 91.6666666667%;
        max-width: 91.6666666667%;
    }

    .col-lg-12 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .order-lg-first {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }

    .order-lg-last {
        -webkit-box-ordinal-group: 14;
        -ms-flex-order: 13;
        order: 13;
    }

    .order-lg-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .order-lg-1 {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }

    .order-lg-2 {
        -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2;
    }

    .order-lg-3 {
        -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3;
    }

    .order-lg-4 {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
    }

    .order-lg-5 {
        -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
        order: 5;
    }

    .order-lg-6 {
        -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
        order: 6;
    }

    .order-lg-7 {
        -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
        order: 7;
    }

    .order-lg-8 {
        -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
        order: 8;
    }

    .order-lg-9 {
        -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
        order: 9;
    }

    .order-lg-10 {
        -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
        order: 10;
    }

    .order-lg-11 {
        -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
        order: 11;
    }

    .order-lg-12 {
        -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
        order: 12;
    }

    .offset-lg-0 {
        margin-left: 0;
    }

    .offset-lg-1 {
        margin-left: 8.3333333333%;
    }

    .offset-lg-2 {
        margin-left: 16.6666666667%;
    }

    .offset-lg-3 {
        margin-left: 25%;
    }

    .offset-lg-4 {
        margin-left: 33.3333333333%;
    }

    .offset-lg-5 {
        margin-left: 41.6666666667%;
    }

    .offset-lg-6 {
        margin-left: 50%;
    }

    .offset-lg-7 {
        margin-left: 58.3333333333%;
    }

    .offset-lg-8 {
        margin-left: 66.6666666667%;
    }

    .offset-lg-9 {
        margin-left: 75%;
    }

    .offset-lg-10 {
        margin-left: 83.3333333333%;
    }

    .offset-lg-11 {
        margin-left: 91.6666666667%;
    }
}



/*-------------END HELPERS CSS -----------*/
