:root {
    --fontBold: "Montserrat Bold", Arial, Sans-serif;
    --darkBlue: #224b8e;
    --darkRed: #cd2d31;;
    --white-color: white;;
}

@font-face {
    font-family: "Montserrat Regular";
    src: local('Montserrat-Regular'),
    url('fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
    /*url('fonts/Montserrat/Montserrat-Regular.woff') format('woff'),*/
    url('fonts/Montserrat/Montserrat-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Medium";
    src: local('Montserrat-Medium'),
    url('fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
    /*url('fonts/Montserrat/Montserrat-Medium.woff') format('woff'),*/
    url('fonts/Montserrat/Montserrat-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat Bold";
    src: local('Montserrat-Bold'),
    url('fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
    /*url('fonts/Montserrat/Montserrat-Bold.woff') format('woff'),*/
    url('fonts/Montserrat/Montserrat-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: local('Inter'),
    /*url('fonts/Inter/Inter-Regular.woff2') format('woff2'),*/
    url('fonts/Inter/Inter-Regular.woff') format('woff'),
    url('fonts/Inter/Inter-VariableFont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: local('Nunito'),
    /*url('fonts/Nunito/nunito-regular.woff2') format('woff2'),*/
    url('fonts/Nunito/nunito-regular.woff') format('woff'),
    url('fonts/Nunito/Nunito-VariableFont_wght.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    line-height: 1.7;
    color: #4d4d4d;
    font-weight: 400;
    font-size: 1rem;
    font-family: "Montserrat Regular", Arial, Sans-serif;
}

a {
    text-decoration: none;
    color: var(--darkBlue);
    transition: .3s;
}

a:hover, a.active {
    color: #009de0;
}

.pageText ul{
    text-align: justify;
}

.h1, h1, .h2, h2, .h3, h3, .h4, h4 {
    font-size: inherit;
}

p.page-caption {
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 51px;
    color: var(--darkBlue);
    margin-bottom: 40px;
    font-family: var(--fontBold);
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #141414;
}

p strong {
    font-style: normal;
    color: var(--darkBlue);
}

.redBold {
    color: var(--darkRed);
    font-weight: 800;
    font-family: var(--fontBold);
}

.darkBlue {
    color: var(--darkBlue);
    font-weight: 800;
    font-family: var(--fontBold);
}

.btn-primary, .btn-outline-primary {
    padding: 20px 42px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 800;
    font-family: var(--fontBold);
    text-transform: uppercase;
    transition: .3s;
    border: 2px solid var(--darkRed);
}

.btn-primary {
    background: var(--darkRed);;
    color: #fff;
}

.btn-outline-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: transparent;
    color: var(--darkRed);;
    border: 2px solid var(--darkRed);;
}

.btn-outline-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: var(--darkRed);;
    color: #fff;
    border: 2px solid var(--darkRed);;
}

.btn-primary:active, .btn-primary:focus {
    box-shadow: none;
    outline: none;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
}

.formBox {
    padding: 30px 40px;
}

.formBox .form-control {
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
    border-radius: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: var(--darkBlue);
    padding: 15px;
}

.formBox .form-control::-webkit-input-placeholder {
    color: #6E7191;
}

.formBox .form-control::-moz-input-placeholder {
    color: #6E7191;
}

.formBox .form-control:-ms-placeholder {
    color: #6E7191;
}

.formBox .form-control:-moz-placeholder {
    color: #6E7191;
}

.formBox .form-control::placeholder {
    color: #6E7191;
}

.formBox .mb-3 {
    position: relative;
}

.formBox .mb-3 label {
    position: absolute;
    right: 15px;
    top: 7px;
    font-size: 22px;
    color: #6E7191;
}

.formBox .mb-3:active label, .formBox .mb-3:focus label {
    color: #0a58ca;
}

.site-wrap {
    min-height: calc(100vh - 418px);
}

.page-section {
    margin-top: 150px;
    padding-top: 150px;
    position: relative;
    background-image: url('images/border.svg');
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
}

.page-section .h1 {
    font-family: "Montserrat Medium", Arial, Sans-serif;
}

.navbar-main {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 0;
}

.navbar-main > hr {
    height: 2px;
    background: #f1f1f1;
    opacity: 1;
    margin: 0;
}

.main-page .navbar-main > hr {
    background: #fff;
}

.main-section {
    min-height: 100vh;
    height: 982px;
    background-image: url('images/bg.webp');
    padding-top: 170px;
    background-size: cover;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.header-social,
.lang {
    padding-top: 10px;
}

.header-social a {
    font-size: 24px;
    margin-right: 20px;
    display: inline-block;

}

.lang a, .navigation-menu a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.lang a {
    margin-left: 30px;
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid;
    border-color: transparent;
}

.lang a.active, .lang a:hover {
    border-color: #009de0;
    font-weight: 600;
}

.header-logo {
    margin-top: 20px;
}

.header-logo img {
    width: 100px;
    height: auto;
}

.navigation-menu li.list-inline-item {
    margin-right: -4px;
}

.navigation-menu a {
    padding: 30px 15px 20px 15px;
    display: inline-block;
    border-top: 2px solid transparent;
    margin-top: -2px;
}

.navigation-menu a:hover, .navigation-menu a.active {
    border-color: var(--darkBlue);
}

.navigation-menu a:hover, .navigation-menu a.active {
    font-weight: 600;
}

.header-phone {
    padding-top: 24px;
    display: flex;
    justify-content: flex-end;
}

.header-phone ul {
    list-style: none;
    padding: 0;
    position: absolute;
}

.phone-button {
    background: transparent;
    border: none;
    transition: .3s;
}

.phone-button svg path {
    fill: var(--darkBlue);
    transition: .3s;
}

.phone-button:hover svg path {
    fill: #009de0;
}

.header-phone .dropdown {
    display: inline-block;
    margin-left: 10px;
}

.header-phone .dropdown-menu, .header-phone .dropdown-menu .dropdown-item:hover, .header-phone .dropdown-menu .dropdown-item:active {
    background: transparent;
    border: none;
}

.rotate0 {
    transition: 0.3s;
    transform: rotate(0deg);
}

.rotate180 {
    transition: 0.3s;
    transform: rotate(180deg);
}

.header-phone .dropdown-toggle, .header-phone .dropdown-item {
    padding-left: 0;
    color: var(--darkBlue);
    font-size: 20px;
    font-weight: 600;
    transition: .3s;
}

.header-phone .dropdown-toggle::after {
    display: none;
}

.header-phone .dropdown-toggle i {
    color: #009de0;
    margin-left: 5px;
}

.header-phone .dropdown-toggle.show i {
    transform: rotate(180deg);
}

.main-section .h1 {
    padding-top: 100px;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    font-style: normal;
    color: var(--darkBlue);
}

.main-section p {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 24px;
    line-height: 29px;
    color: var(--darkRed);;
    padding: 30px 0;
}

.ellipse {
    height: 200px;
    width: 448px;
    position: absolute;
    bottom: 0;
}

.ellipse svg {
    position: absolute;
    bottom: 0;
}

.ellipse img {
    position: absolute;
    right: 0;
    bottom: 0;

}

.butl {
    position: absolute;
    height: 692px;
    width: 400px;
    bottom: 50px;
    left: calc(50% + 300px);
}

.butl img:nth-of-type(1) {
    position: absolute;
    right: 250px;
    top: 60px;

}

.butl img:nth-of-type(2) {
    position: absolute;
    right: 0;
    top: 104px;

}

.action-section {
    padding: 80px 0;
    margin-bottom: 80px;
}

.action-content, .action-image {
    position: relative;
}

.action-content {
    padding: 70px 40px 60px 40px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.39);
    border-radius: 70px;
    position: relative;
    z-index: 1;
}

.action-image {
    z-index: 2;
}

.action-image img {
    position: absolute;
}

.action-image > img {
    top: -40px;
    left: -40px;
}

.action-image .ribbon {
    position: absolute;
    width: 312px;
    height: 356px;
    top: 60px;
    left: 20px;
    overflow: hidden;
}

.action-image .ribbon img {
    top: 0;
    left: -48px;
}

.action-section h2, .action-section .h2 {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 46px;
    line-height: 56px;
    color: var(--darkBlue);
    padding: 20px 0;
}

.action-section .p1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--darkBlue);
    padding-bottom: 30px;
}

.action-section .p2 {
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 38px;
    line-height: 46px;
    color: var(--darkRed);;
    padding-bottom: 20px;
}

.action-section .p3 {
    font-weight: 600;
    font-family: "Montserrat Medium", Arial, Sans-serif;
    font-size: 28px;
    line-height: 34px;
    color: var(--darkBlue);
    padding: 20px 0;
}

.action-content hr {
    background: #009de0;
}

.order {

    background-image: url('images/bg1.svg');
    background-size: 100%;
    background-position: top center;
    padding: 250px 0;
    position: relative;

}

.order h2, .order .h2 {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 46px;
    line-height: 56px;
    color: var(--darkBlue);
    padding: 30px 0 60px 0;
}

.order h3, .order .h3 {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 32px;
    line-height: 39px;
    color: #009DE0;
    padding: 30px 0;
}

.order p {
    font-weight: 100;
    font-size: 20px;
    line-height: 27px;
    color: var(--darkBlue);
}

.order i {
    margin-right: 15px;
}

.order p.small {
    font-size: 20px;
}

.order .social {
    font-size: 34px;
}

.order .social a {
    display: inline-block;
    padding-right:20px;
}

.order-num {
    position: relative;
}

.order-line {
    position: relative;
    width: 3px;
    height: 68px;
    margin: 20px 0;
    top: 20px;
    left: 218px;
    overflow: hidden;
}

.order .num {
    font-weight: 700;
    font-size: 90px;
    line-height: 123px;
    color: var(--darkRed);;
    position: absolute;
    right: 80px;
}

.order svg {
    margin: 20px 30px 0 0;
}

.order .order-line svg {
    margin-top: -4px;

}

.order_2 {
    padding: 200px 0;
    background-image: url('images/water.webp');
    background-size: cover;
}

.stage {
    background-image: url('images/bg2.svg');
    padding: 100px 0 250px 0;
    margin-bottom: 50px;
    position: relative;
    background-size: 100%;
    background-position: bottom center;
}

.stage h2, .stage .h2, .delivery h2, .delivery .h2 {
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 38px;
    line-height: 46px;
    color: var(--darkBlue);
}

.stage h3, .stage .h3 {
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 42px;
    line-height: 51px;
    color: var(--darkRed);;
    padding: 20px 0 50px 0;
}

.stage p {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: var(--darkBlue);
}

.stage p.text-muted {
    font-weight: 400;
    color: #7D8899;
}

.stage .logo-block img {
    padding: 250px 0 100px 0;
}

.stage .logo-block img {
    width: 80%;
    height: auto;
}

.stage-block {
    position: relative;
    margin-top: 50px;
}

.stage-block .stage-1, .stage-block .stage-2, .stage-block .stage-3, .stage-block .stage-4, .stage-block .stage-5 {
    position: absolute;
    width: 160px;
    height: 160px;
}

.stage-block p {
    padding-top: 20px;
    font-weight: 400;
}

.stage-1 {
    left: 50%;
    margin-left: -80px;
}

.stage-2 {
    left: 80px;
    top: 120px;
}

.stage-3 {
    right: 80px;
    top: 120px;
}

.stage-4 {
    left: 80px;
    top: 370px;
}

.stage-5 {
    right: 80px;
    top: 370px;
}

.delivery h2, .delivery .h2 {
    margin-bottom: 50px;
}

.layout {
    padding: 0 50px;
}

.layout .image {
    padding: 20px 30px;
    background: #dbedf9;
    box-shadow: 0px 54px 54px rgba(0, 157, 224, 0.02), 1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
    border-radius: 20px 20px 0px 0px;
}

.layout .image img {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
}

.layout .caption {
    background: #FFFFFF;
    box-shadow: 0px 54px 54px rgba(0, 157, 224, 0.02), 1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
    border-radius: 0px 0px 20px 20px;
}

.layout .h4 {
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 24px;
    line-height: 39px;
    color: #009DE0;
    padding: 30px 10px 0 10px;
}

.layout h4 a, .layout .h4 a {
    color: #009DE0;
}

.layout .price {
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 24px;
    line-height: 29px;
    color: var(--darkRed);;
    padding: 10px 10px 30px 10px;
}

.layout .button-group {
    margin-top: 30px;
}

.layout button {
    width: 100%;
}

.delivery {
    padding-bottom: 100px
}

.range .phone-block {
    padding-top: 100px;
}

.range .phone-block p {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #224B8E
}

.range .social {
    font-size: 34px;
    padding: 0 0 20px 0;
}

.range .social a {
    display: inline-block;
    padding: 0 8px;
}

.range .btn {
    width: 70%;
}

.ordering {
    padding-top: 20px;
    padding-bottom: 100px;
}

.ordering .h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    font-variant: small-caps;
    color: #009DE0;
    margin-bottom: 40px;
}

.ordering form {
    box-shadow: 0px 54px 54px rgba(0, 157, 224, 0.02), 1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
    border-radius: 3px;
}

.ordering-text {
    padding-left: 20px;
}

.blog-section {
    margin-top: 260px;
    padding: 50px 0;
    background-image: url('images/blog.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
}

.blog-section h1, .blog-section .h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    padding: 30px 0;

}

.blog-section .thumb {
    padding: 5px;
}

.blog-section .thumb h4, .blog-section .thumb .h4 {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 24px;
    line-height: 29px;
    font-variant: small-caps;
    color: #009DE0;
    margin-bottom: 10px;
}

.blog-section .thumb h4 a, .blog-section .thumb .h4 a {
    color: #009DE0;
}

.blog-section .caption {
    padding: 20px;
    background-color: #fff;
}

.blog-section p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    font-variant: small-caps;
    color: #626C7B;
}

.blog-section p i {
    margin-right: 10px;
}

.blog-section .thumb img, .blog-articles .thumb img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog-articles h4, .blog-articles .h4 {
    font-style: normal;
    font-weight: 600;
    font-family: "Montserrat Medium", Arial, Sans-serif;
    font-size: 24px;
    line-height: 29px;
    font-variant: small-caps;
    margin-bottom: 20px;
}

.blog-articles h4 a, .blog-articles .h4 a {
    color: #009DE0;
}

.blog-articles .thumb {
    padding: 20px;
}

.blog-articles .article-content {
    padding: 20px;
}

.article-content p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #626C7B;
}

.article-content .h4 {
    font-family: var(--fontBold);
}

.articleBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blog-articles .btn, .page-catalog .btn {
    margin: 20px 0;
    width: 300px;
}

.page-catalog .thumb {
    background: #DEECF4;
    box-shadow: 0px 54px 54px rgba(0, 157, 224, 0.02), 1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
    border-radius: 20px;
    margin: 0 40px;
}

.page-catalog .thumb .image {
    padding: 20px;
}

.page-catalog .thumb .image img {
    max-width: 100%;
    object-fit: cover;
}

.page-catalog .price-block {
    margin: 40px 0 30px 0;
}

.page-catalog span.price {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--darkRed);;
}


.input-number {
    display: flex;
    background-color: #f1f1f1;
    position: relative;
    max-width: 100px;
    justify-content: center;
    align-items: center;
}


.input-number input, .input-number button {
    border: none;
    outline: none;
    background-color: #f1f1f1;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #7E7E7E;
    padding: 10px;
    max-width: 40px;
    min-width: 30px;
}

.page-catalog .h2 {
    padding: 40px 0 40px 0;
    font-style: normal;
    font-weight: 600;
    font-family: "Montserrat Medium", Arial, Sans-serif;
    font-size: 30px;
    line-height: 37px;
    color: var(--darkBlue);
}

.page-catalog .article-content .name {
    font-style: normal;
    font-weight: 600;
    font-family: "Montserrat Medium", Arial, Sans-serif;
    font-size: 32px;
    line-height: 39px;
    font-variant: small-caps;
    color: #009DE0;
    padding: 30px 0;
}

.page-catalog .article-content .name ah3 {
    color: #009DE0;
}

.page-catalog table td {
    font-family: 'Inter', Arial, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #000;
}

.page-catalog table tr td:nth-of-type(1) {
    padding-left: 50px;
}

.review .name {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 24px;
    line-height: 29px;
    color: #141414;
    margin-bottom: 30px;
}

.review p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.bg-footer {
    height: 200px;
    width: 100%;
    background: url('images/bg_footer.webp');
    background-size: cover;
}

.modal-content {
    background: #DEECF4;
    box-shadow: 0px 54px 54px rgba(0, 157, 224, 0.02), 1px 4px 104px rgba(20, 20, 43, 0.04), 0px 98px 66px rgba(19, 18, 66, 0.02);
    border-radius: 20px;
}

.modal-title {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 32px;
    line-height: 39px;
    color: var(--darkBlue);
}

.modal-header {
    padding: 40px 30px 10px 30px;
    border-bottom: none;
}

.modal-body {
    padding: 10px 30px 30px 30px;
}

.modal-header .btn-close {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 50px;
    color: #3E6CB9;
    background: transparent;
}

.modal-header .btn-close i {
    display: inline-block;
    top: -15px;
    position: relative;
}

#navbarMobile .modal-dialog {
    margin: 0;
    min-height: 100vh;
}

#navbarMobile .modal-dialog .modal-content {
    min-height: 100vh;
    border-radius: 0;
    background-color: #fff;
    padding-top: 30px;
}

.mobile-logo img {
    width: 100px;
    height: auto;
}

#navbarMobile .btn-close {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 30px;
    color: var(--darkBlue);
    background: transparent;

}

#navbarMobile .btn-close i {
    display: inline-block;
    top: -15px;
    position: relative;
}

#navbarMobile .nav-wrap {
    padding-top: 20px;
}

#navbarMobile .nav-wrap li {
    padding: 5px 0;
}

#navbarMobile .nav-wrap li a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: var(--darkBlue);
}

#navbarMobile .nav-wrap li a.active {
    color: #009DE0;
}

.lang-mobile-menu a {
    margin-right: 10px;
    display: inline-block;
    padding: 5px;
    border-bottom: 2px solid;
    border-color: transparent;
}

.lang-mobile-menu a.active {
    border-color: #009de0;
    font-weight: 600;
}

.social-mobile-menu a {
    font-size: 24px;
    margin-right: 20px;
    display: inline-block;
}

footer {
    background-color: var(--darkBlue);
    color: #fff;
    padding: 30px 0 0 0;
}

footer ul li a {
    color: #fff;
}

footer .social {
    font-size: 30px;
    height: 100%;
}

footer p {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}

footer p.small, footer p.copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

footer p.copyright {
    margin-top: 20px;
}

footer .footer-menu li {
    margin-bottom: 10px;
}

footer img {
    width: 80px;
    height: 100px;
}

footer a {
    color: #fff;
    transition: 0.3s;
}

footer a:hover {
    color: #afb8c1;
    transition: 0.3s;
}

.mapBlock {
    width: 100%;
    position: sticky;
    top: 1px;
    min-height: 1px;
}

#map {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    margin-bottom: 20px;
}

#map .distric {
    fill: #99CCFF;
}

#map .distric:hover, #map .districActive {
    fill: #008DF1;
    cursor: pointer;
}

.productSection .h1 {
    font-size: 24px;
    font-weight: 700;
}

.productSection .description {
    margin-top: 40px;
}

.productSection .description p {
    font-size: 16px;
    line-height: 30px;
}

.description h1, .description h2, .description h3 {
    font-style: normal;
    font-weight: 700;
    font-family: var(--fontBold);
    font-size: 24px;
    line-height: 29px;
    color: #141414;
    margin-bottom: 15px;
    margin-top: 30px;
}

.successPage {
    display: flex;
    flex-direction: column;
    line-height: 35px;
}

.successPage a {
    font-weight: 700;
    color: var(--darkBlue);
    font-family: var(--fontBold);
}

.pageText, .ordering {
    padding: 15px 15px 50px;
}

.pageText h1, .pageText h2, .pageText h3, .pageText h4, .pageText h5 {
    font-family: var(--fontBold);
    font-size: 28px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0;
    text-align: left;
    margin: 30px 0 10px 0;
}

.blogSection{
    padding: 15px 0;
}

.blogSection .boxBlog{
    margin-bottom: 25px;
}

.links{
    margin:30px 0 ;
}

.links svg{
    max-width: 15px;
}

/*    text-left HELPERS    */
.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.imageArticle {
    display: flex;
    width: 100%;
    margin-bottom: 35px;
}

.textCenter {
    text-align: center;
}

.vfm__content {
    height: 100%;
}

#contactForm, #modalOrderForm {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#contactForm .btn-close, #modalOrderForm .btn-close {
    position: absolute;
    right: 30px;
    top: 0;
    font-size: 30px;
    color: var(--darkBlue);
    background: transparent;
}

#contactForm .btn-close:focus, #modalOrderForm .btn-close:focus {
    box-shadow:none;
}

#contactForm .modal-content, #modalOrderForm .modal-content {
    max-width: 800px;
}

#contactForm .formBox, #modalOrderForm .formBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position:relative;
}

#contactForm .formBox > div, #contactForm .formBox > button, #modalOrderForm .formBox > div, #modalOrderForm .formBox > button {
    width: 100%;
}

#contactForm .formBox > button, #modalOrderForm .formBox > button {
    max-width: 400px;
}
#contactForm h2, #modalOrderForm h2{
    padding-bottom: 15px;
    font-size: 16px;
}

.orderForm{
    background: white;
    border-radius: 22px;
}

.orderForm img {
    width: 50px;
    margin-right: 15px;
}

.orderForm .products {
    display: flex;
    flex-direction: column;
}


.orderForm .products,  .orderForm .products p, .orderForm .info{
    font-size: 14px;
}

.orderForm .products .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.orderForm .products .description .info{
    display: flex;
}

.orderForm .products p {
    margin: 0;
}

.orderForm .totalPrice {
    text-align: center;
}

.orderForm .footerBtn {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f1f1f1;
    padding-top: 15px;
    align-items: center;
}

.orderForm .info{
    font-style: italic;
    margin-bottom: 15px;
}

/*-------Notification-------*/
#notification {
    position: fixed;
    width: 100%;
    z-index: 9999999;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: max-height 0.5s;
    max-height: 0;
    overflow: hidden;
}

#notification p {
    background: var(--darkBlue);
    color: var(--white-color);
    padding: 20px;
    border: 3px solid var(--main-color);
    border-bottom: 0;
    width: 100%;
    max-width: 400px;
    font-weight: 800;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    border-radius: 22px;
}

/*-------Notification END-------*/

.displayCenterFlex {
    display: flex;
    align-items: center;
    justify-content: center
}


.w100 {
    width: 100%;
}

.customItem{
    margin-bottom: 10px;
}

.customCheckbox,
.customRadio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox + label,
.customRadio + label {
    display: inline-flex;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customCheckbox + label::before,
.customRadio + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.customCheckbox:checked + label::before,
.customRadio:checked + label::before {
    border-color: var(--darkBlue);
    background-color: var(--darkBlue);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.customRadio + label::before {
    border-radius: 100px;
}

.copy{
    cursor: pointer;
    font-style: italic;
    text-align: justify;
}
.copy i{
    color: #b6b6b6;
    padding-right: 5px;
}

.success .h2{
    margin-bottom: 25px;
    color: var(--darkRed);
    font-family: var(--fontBold);
}

#mobileNavBtn{
    display: none;
}



.powered{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #ffffff3d;
    margin-top: 5px;
}


.powered svg{
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.powered span{
    font-weight: 900;
}


#navigation{
    transition: 0.3s;
    top: 0;
    left: 0;
    right: 0;
}


@media (max-width: 1799px) {
    .order, .stage {
        background-size: 120%;
    }

    .order {
        padding: 200px 0;
    }
}

@media (max-width: 1399px) {
    .butl {
        left: calc(50% + 200px);
    }

    .action-image > img {
        left: -60px;
    }

    .action-image .ribbon {
        left: 0;
    }

    .order {
        padding: 150px 0;
    }


    .map-block svg {
        width: 100%;
        height: auto;
    }

    .layout {
        padding: 0 30px;
    }

    .order-line {
        left: 172px;
    }

    .order, .stage {
        background-size: 150%;
    }
}

@media (max-width: 1199px) {
    .navigation-menu a {
        padding: 30px 10px 20px 10px;
    }

    .header-phone .dropdown-toggle, .header-phone .dropdown-item {
        font-size: 16px;
    }

    .layout {
        padding: 0 20px;
    }

    .layout h4, .layout h4 {
        font-size: 24px;
    }

    .blog-section .thumb h4, .blog-section .thumb .h4, .blog-section p {
        font-size: 20px;
    }

    .order, .stage {
        background-size: 170%;
    }

    .order-line {
        left: 126px;
    }

    footer img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 991px) {
    .lang a, .navigation-menu a {
        font-size: 12px;
    }

    .header-phone {
        white-space: nowrap;
    }

    .header-phone .dropdown-toggle, .header-phone .dropdown-item {
        font-size: 12px;
    }

    .main-section {
        height: 1200px;
    }

    .butl {
        left: calc(50% + 250px);
    }

    .action-image > img {
        left: -160px;
    }

    .action-image .ribbon {
        left: -102px;
    }

    .action-section .p3 {
        font-size: 24px;
    }

    .order-line {
        left: 68px;
    }

    .order, .stage {
        background-size: 200%;
    }

    .layout {
        padding-bottom: 40px;
    }

    .layout h4, .layout h4 {
        font-size: 32px;
    }

    .range {
        padding: 0 0 80px 0;
    }

    .range .btn {
        width: 100%;
    }

    .ordering {
        padding-bottom: 30px;
    }

    .ordering-text {
        padding: 60px 0 0 0;
    }

    footer .container > .row > div:nth-of-type(1) {
        order: 4;
    }

    footer .container > .row > div:nth-of-type(2) {
        order: 1;
    }

    footer .container > .row > div:nth-of-type(3) {
        order: 3;
    }

    footer .container > .row > div:nth-of-type(4) {
        order: 2;
        text-align: right;
    }

    footer .container > .row > div:nth-of-type(1) > .row > div:nth-of-type(1) {
        order: 2;
    }

    footer .container > .row > div:nth-of-type(1) > .row > div:nth-of-type(2) {
        order: 1;
    }

    footer .container > .row > div:nth-of-type(1) > .row > div:nth-of-type(3) {
        order: 3;
    }

    footer img {
        width: 100px;
        top: -60px;
    }
}

@media (max-width: 767px) {

    .modalBox{
        height: 100%;
        overflow: scroll;
    }

    .stageIcon{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 50px;
    }

    .order .social a{
        padding: 0;
    }

    #mobileNavBtn{
        display: block;
    }

    .ellipse img {
        position: absolute;
        left: 0;
        bottom: 0;
    }

    .formBox {
         padding: 10px;
    }

    .range .phone-block {
        padding-top: 5px;
    }

    #contactForm .formBox{
        padding: 30px 20px;
    }

    .pageText, .ordering, .range, .delivery, .stage, .action-section, .blogSection {
        padding: 15px 15px 50px;
    }

    .delivery {
        padding-bottom: 50px;
    }

    .article-content .h4 {
        margin: 20px 0;
    }
    .article-content p, .pageText p {
        text-align: justify;
    }

    .page-catalog .h2 {
        font-size: 22px;
    }

    .pageText h1, .pageText h2, .pageText h3, .pageText h4, .pageText h5{
        font-size: 16px;
        line-height: initial;
    }

    .modal-title{
        font-size: 20px;
    }

    #contactForm .modal-content {
        margin: 15px;
    }

    .mobile-navbar {
        position: absolute;
        z-index: 100;
        background: transparent !important;
        top: 30px;
    }

    .mobile-navbar button {
        border: none;
    }

    .header-logo {
        order: 2;
        text-align: center;
    }

    .header-phone {
        order: 1;
        padding: 20px;
        margin-top: -3px;
        position: fixed;
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        transition: 0.5s;
    }

    .header-phone ul{
        position: initial;
    }

    .header-phone .dropdown-toggle, .header-phone .dropdown-item {
        font-size: 20px;
    }

    .header-logo {
        margin-top: 100px;
    }

    .main-section {
        height: 1100px;
    }

    .main-section .h1 {
        font-size: 22px;
        margin-top: 50px;
        padding-top: 20px;
    }

    .main-section p {
        font-size: 16px;
        padding: 0;
    }

    .main-section .butl img{
        width: 68%;
    }

    .butl img:nth-of-type(1) {
        position: absolute;
        right: 115px;
        top: 0;
    }

    .butl {
        bottom: -70px;
        left: -10px;
    }

    .action-section h2, .action-section .h2 {
        font-size: 20px;
        line-height: initial;
    }

    .action-content {
        padding: 70px 20px 60px 20px;
        order: 1;
    }

    .action-image {
        order: 2;
    }

    .action-section .p1 {
        font-size: 18px;
        padding-bottom: 0;
    }

    .action-section .p2 {
        font-size: 28px;
        padding-bottom: 15px;
    }

    .action-section .p3 {
        font-size: 18px;
        text-transform: none;
    }

    .action-image > img {
        width: 220px;
        left: -60px;
        top: 15px;
    }

    .action-image .ribbon {
        width: 174px;
        height: 176px;
        left: -50px;
        top: 40px;
    }

    .action-image .ribbon img {
        width: 250px;
        top: -10px;
        left: -4px;
    }

    .order h2, .order .h2 {
        font-size: 20px;
    }

    .order h3, .order .h3 {
        font-size: 20px;
    }

    .order p {
        font-size: 16px;
        line-height: initial;
        margin-bottom: 5px;
    }

    .order_2 {
        background-position-x: 42%;
        background-size: cover;
    }

    .order svg {
        margin: 0;
        max-width: 80px;
        max-height: 120px;
    }

    .order .row {
        margin-bottom: 25px;
    }

    .order p.small {
        font-size: 16px;
    }

    .order-line {
        left: 54px;
    }

    .order, .stage {
        background-size: 300%;
    }

    .stage h2, .stage .h2, .delivery h2, .delivery .h2 {
        font-size: 20px;
    }

    .stage h3, .stage .h3 {
        font-size: 18px;
        padding: 0;
    }

    .stage-block {
        text-align: left;
    }

    .stage-block svg{
        margin-right: 25px;
        max-width: 60px;
        margin-left: 15px;
    }

    .stage-block .stage-1, .stage-block .stage-2, .stage-block .stage-3, .stage-block .stage-4, .stage-block .stage-5 {
        position: relative;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        margin-left: 0;
        margin-bottom: 20px;
        width: 100%;
        height: auto;
    }

    .stage p{
        font-size: 14px;
    }

    .stage-block p {
        display: inline-block;
        margin-left: 20px;
    }

    .stage-block .btn-block {
        text-align: center;
    }

    .range .row > div:nth-of-type(1) {
        order: 2;
    }

    .range .row > div:nth-of-type(2) {
        order: 1;
    }

    .range .btn {
        margin-left: 0;
    }

    .orderForm img {
        width: 40px;
        margin-right: 15px;
    }

    .orderForm .products p {
        font-size: 14px;
    }
    .btn-primary, .btn-outline-primary {
        padding: 15px 20px;
    }

    .input-number {
        width: 110px;
    }

    .page-section {
        margin-top: 250px;
        padding-top: 50px;
    }

    .blog-section {
        padding: 100px 0;
    }

    .blog-articles {
        text-align: center;
    }

    .blog-articles .article-content {
        padding-bottom: 50px;
    }

    .blog-section .caption {
        margin-bottom: 50px;
    }

    .page-catalog {
        text-align: center;
    }

    .page-catalog table tr > td:nth-of-type(1) {
        text-align: left;
        padding-left: .5rem;
    }

    .page-catalog table tr > td:nth-of-type(2) {
        text-align: right;
    }

    p.page-caption {
        font-size: 36px;
    }

    .action-section {
        margin-bottom: 0;
        overflow: hidden;
    }
}

@media (max-width: 575px) {
    .action-section {
        padding-top: 280px;
        position: relative;
        padding-left: 20px;
        padding-right: 20px;

    }

    .order, .stage {
        background-size: 400%;
    }

    .action-image {
        position: absolute;
        top: 20px;
        left: calc(50% - 50px);
    }

    .order .row > div {
        text-align: center !important;
    }

    .order .num {
        left: calc(50% - 230px);
    }

    #navbarMobile .modal-sm {
        max-width: 300px;
    }
}

@media (max-width: 479px) {
    body {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }


    .header-phone .dropdown-toggle, .header-phone .dropdown-item, .btn-primary, .btn-outline-primary {
        font-size: 14px;
    }

    .page-catalog .thumb {
        margin: 0;
    }

    .formBox .form-control, footer, footer p {
        font-size: 12px;
    }

    .order, .stage {
        padding: 50px 0;
    }

    .stage p.text-muted {
        text-align: justify;
    }

    .stage-block {
        text-align: center;
    }

    .stage-block p {
        display: block;
        margin-left: 0;
        text-align: left;
    }

    .order, .stage {
        background: #f3faff;
    }

    .blog-articles .btn, .page-catalog .btn {
        width: 100%;
    }

}


@media (max-width: 380px) {
    .orderForm .products .description {
        margin-bottom: 15px;
    }

    #modalOrderForm .formBox {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        border-radius: 0;
        padding: 25px;
    }

    #contactForm .btn-close, #modalOrderForm .btn-close {
        right: 0;
        top: -6px;
    }

    .textSuccess p{
        font-size:  14px;
    }
}
