<template>
    <app-layout :title="trans('admin.certificate')" :key="componentKey">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="displaySpaceBetweenFlex box titleBlock">
                    <div class="col-md-12 p-0">
                        <div class="form-group" :class="{'error': error }">
                            <h3 class="pageTitle">{{ trans('admin.certificate') }}</h3>
                            <a target="_blank" :href="value" style="display: block;margin-bottom: 25px;margin-top: 25px">
                                <span class="m-t-5 icon-file-pdf-o" style="font-size: 25px"></span> Перегляд
                            </a>

                            <div class="btnGroup">
                                <button type="submit" class="btn btnSuccess" @click="openUpload()">
                                    <span class="icon-save"></span> Завантажити новий файл
                                </button>
                                <button type="submit" class="btn btnDefault" onclick="history.back()">
                                    <span class="icon-ban"></span> {{ trans('crud.cancel') }}
                                </button>
                            </div>
                            <input type="file" @change="save($event)" id="openInput" accept="application/pdf" style="display: none"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue'
import NavTitleOperation from '../../../Components/Crud/Nav/NavTitleOperation'
import Fields from "../../../Mixins/Crud/Fields";
import Translation from "../../../Mixins/Crud/Translation";
import ImagesInput from "../../../Components/Crud/Fields/ImagesInput";

export default {
    name: "sdfsdf",
    props: {
        path: Object,
    },
    components: {
        AppLayout,
        NavTitleOperation,
        ImagesInput,
    },
    mixins: [
        Fields, Translation
    ],
    data: () => ({
        componentKey: 0,
        value: '',
        error: '',
    }),
    methods:{
        openUpload() {
            document.getElementById('openInput').click();
        },
        save(event){
            this.LoaderIndicator(true);

            let formData = new FormData();
            formData.append('file', event.target.files[0]);

            console.log(event.target.files[0]);

            axios.post('/admin/ref-certificate', formData)
                .then(response => {
                    this.value = response.data
                    this.LoaderIndicator(false);
                }).catch(error => {
                    this.LoaderIndicator(false);
                    alert('Error!');
                }
            );
        }
    },
    created() {
        this.value = this.path;
    }
}
</script>
