<template>
    <div class="modal" :key="componentKey">
       <div id="reviewModal">
           <button @click="showModal = true" class="btn siteBtn m-t-25">
               <span class="icon-play-circle-o m-r-5"></span> {{trans('web.addReview')}}
           </button>
       </div>
        <vue-final-modal v-model="showModal" classes="modal-container" content-class="modal-content modal-padding blueBg maxW700">
           <div class="row">
               <div class="col-md-12">
                   <h6 class="header">{{trans('web.reviewText1')}}</h6>
               </div>
               <div class="col-md-12">
                   <div class="w100 m-b-15 block">
                       <span class="icon-rate_review"></span>
                       <div class="rating">
                           <rating-component v-model="rating" :active-color="'#efce15'"/>
                       </div>
                   </div>
                   <div class="w100 m-b-15 block">
                       <span class="icon-user-circle-o"></span>
                       <input v-model="name" :placeholder="trans('web.firstName')"  class="form-control">
                   </div>
                   <div class="w100 m-b-15 block">
                       <span class="icon-textsms"></span>
                       <textarea v-model="description" :placeholder="trans('web.review')"  class="form-control-textarea"/>
                   </div>
               </div>
               <div class="col-md-12 p-b-20 blockBtn">
                  <button class="btn siteBtn" @click="send()" :disabled="disabledBtn">
                      <span class="icon-send-o m-r-10"></span> {{trans('web.send')}}
                  </button>
               </div>
           </div>
            <button class="modal-close" @click="showModal = false">
                <span class="icon-close2 colMain"></span>
            </button>
        </vue-final-modal>
    </div>
</template>

<script>

import { VueFinalModal } from 'vue-final-modal'
// import RatingComponent from "../Horizon/RatingComponent";
import message from "../../../Mixins/Web/message";

export default {
    props: {
        productId: Number,
    },
    components: {
        VueFinalModal,
        // RatingComponent,
    },
    mixins: [
        message
    ],
    data: () => ({
        showModal: false,
        disabledBtn: false,
        name: '',
        description: '',
        rating: 0,
        componentKey: 0,
    }),
    methods: {
        send() {
            this.LoaderIndicator(true);
            let data = {
                product_id: this.productId,
                name: this.name,
                rating: this.rating,
                description: this.description,
                locale: document.documentElement.lang,
            }
            this.disabledBtn = true;
            axios.post('/api/v1/products/review', data)
                .then(response => {
                    this.showMessage(response.data.message)
                    this.name = '';
                    this.rating = 0;
                    this.description = '';
                    this.showModal = false;
                    this.disabledBtn = false;
                    this.componentKey++;
                    this.LoaderIndicator(false);
                }).catch(error => {
                    this.LoaderIndicator(false);
                    this.showErrors(error)
                    this.disabledBtn = false;
                }
            );
        },
    },
};
</script>

<style>
#app .vue3-star-ratings__wrapper{
    margin: 0;
    padding: 0;
}
</style>
