<template>
    <div class="modalForm" :key="componentKey">
        <button @click="showModal = true;" id="contactBtn" style="display: none">
            <span class="icon-play-circle-o m-r-5"></span> {{ trans('web.order') }}
        </button>

        <vue-final-modal v-model="showModal" v-if="showModal">
            <div class="w100" id="modalOrderForm">
                <order-form
                    @close="showModal = false"
                    :id="'modal'"
                    :products="products"
                    :outpost-price="outpostPrice"
                    :price-first="priceFirst"
                    :price-second="priceSecond"
                    :price-third="priceThird"
                    :sale-price-first="salePriceFirst"
                    :sale-price-second="salePriceSecond"
                    :sale-price-third="salePriceThird"
                ></order-form>
            </div>
        </vue-final-modal>
    </div>
</template>

<script>

import {mask} from 'vue-the-mask'
import {VueFinalModal} from 'vue-final-modal'
import message from "../../../Mixins/Web/message";
import ecommerce from "../../../Mixins/Web/ecommerce";
import OrderForm from "../Order/OrderForm";

export default {
    props: {
        products: Array,
        priceFirst: Number,
        priceSecond: Number,
        priceThird: Number,
        salePriceFirst: Number,
        salePriceSecond: Number,
        salePriceThird: Number,
        outpostPrice: Number,
    },
    directives: {mask},
    components: {VueFinalModal, OrderForm},
    mixins: [
        message,
        ecommerce,
    ],
    data: () => ({
        showModal: false,
        componentKey: 0,
    }),
};
</script>
