<template>
    <div class="modalForm" :key="componentKey">
        <button @click="showModal = true" id="contactBtn" style="display: none">
            <span class="icon-play-circle-o m-r-5"></span> {{ trans('web.order') }}
        </button>

        <vue-final-modal v-model="showModal">
            <div id="contactForm">
                <div class="modal-content">
                    <div class="modal-header text-center justify-content-center">
                        <h5 class="modal-title text-uppercase">{{ trans('web.contactForm.title') }}</h5>
                        <button type="button" class="btn-close">
                            <i class="fas fa-xmark" @click="showModal = false"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="displayCenterFlex formBox">
                            <div class="mb-3">
                                <label><i class="far fa-user"></i></label>
                                <input class="form-control"
                                       v-model="name"
                                       :placeholder="trans('web.contactForm.inputName')">
                            </div>
                            <div class="mb-3">
                                <label><i class="far fa-clipboard"></i></label>
                                <input class="form-control"
                                       v-model="phone"
                                       v-mask="'38(0##)###-##-##'"
                                       :placeholder="trans('web.contactForm.inputPhone')">
                            </div>
                            <button class="btn btn-primary maxW200"
                                    @click="send()"
                                    :disabled="disabledBtn">
                                {{trans('web.contactForm.send')}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </vue-final-modal>
    </div>
</template>

<script>

import {mask} from 'vue-the-mask'
import {VueFinalModal} from 'vue-final-modal'
import message from "../../../Mixins/Web/message";

export default {
    props: {},
    directives: {mask},
    components: {VueFinalModal},
    mixins: [
        message
    ],
    data: () => ({
        showModal: false,
        disabledBtn: false,
        name: '',
        phone: '',
        componentKey: 0,
    }),
    methods: {
        send() {
            this.LoaderIndicator(true);
            let data = {
                name: this.name,
                phone: this.phone,
            }
            this.disabledBtn = true;
            axios.post('/api/v1/orders/contact-form', data)
                .then(response => {
                    this.showMessage(response.data.message)
                    this.name = '';
                    this.phone = '';
                    this.showModal = false;
                    this.disabledBtn = false;
                    this.componentKey++;
                    this.LoaderIndicator(false);
                }).catch(error => {
                    this.LoaderIndicator(false);
                    this.showErrors(error)
                    this.disabledBtn = false;
                }
            );
        },
    },
};
</script>
