<template>
    <app-layout :title="options.entityNamePlural">
        <nav-title-list :options="options"/>
        <nav-filters :options="options" :filters="filters" @search="search"/>
        <crud-table :items="items" :columns="columns" :buttons="buttons" :options="options" @search="search"/>
    </app-layout>
</template>

<script>
import {defineComponent} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'

import CrudTable from '../../../Components/Crud/Table/CrudTable'
import NavTitleList from '../../../Components/Crud/Nav/NavTitleList'
import NavFilters from '../../../Components/Crud/Nav/NavFilters'

export default defineComponent({
    props: {
        options: Object,
        columns: Object,
        fields: Object,
        filters: Object,
        buttons: Object,
    },
    components: {
        AppLayout,
        CrudTable,
        NavTitleList,
        NavFilters,
    },
    data: () => ({
        items: [],
        activeItem: {},
        componentKey: 0
    }),
    methods:{
        search() {
            this.LoaderIndicator(true)
            let params = this.getParameters();
            axios.get(this.options.route + 'search' + '?' + params)
                .then(response => {
                    this.items = response.data;
                    this.LoaderIndicator(false);
                }).catch(error => {
                    this.LoaderIndicator(false);
                }
            );
        },
        getParameters() {
            let params = '';
            let queryString = window.location.search;
            let urlParams = new URLSearchParams(queryString);
            let keys =urlParams.entries();
            for (let key of keys) {
                params += '&' + key[0] + '=' + key[1]
            }
            return params;
        },
    },
    created() {
        this.search();
    },
})
</script>
