<template>
    <app-layout :title="options.entityNamePlural">
        <nav-title-operation :options="options"/>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="displaySpaceBetweenFlex box titleBlock">
                    <div class="w100 row">
                        <div class="m-b-15" v-for="field in fields" :class="field.class">
                           <template v-if="Array.isArray(entry[field.name])">
                               <p v-for="item in entry[field.name]">
                                 {{item}}
                               </p>
                           </template>
                           <template v-else>
                               <p><b>{{ field.label }}</b> {{entry[field.name]}}</p>
                           </template>
                        </div>
                        <div class="col-md-12">
                            <div class="btnGroup">
                                <button type="submit" class="btn btnDefault" onclick="history.back()">
                                    <span class="icon-ban"></span> {{trans('crud.cancel')}}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import {defineComponent} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'
import {useForm} from '@inertiajs/inertia-vue3'

import NavTitleOperation from '../../../Components/Crud/Nav/NavTitleOperation'
import Fields from "../../../Mixins/Crud/Fields";

export default defineComponent({
    props: {
        options: Object,
        fields: Object,
        errors: Object,
        entry: Object,
    },
    components: {
        AppLayout,
        NavTitleOperation,
    },
})
</script>
