<template>
    <thead :key="componentKey">
    <tr role="row">
        <th v-for="(header, key) in headers" @click="setOrderBy(key, header.sort)" :class="header.classes" class="cursorPointer">
            {{ header.label }}
            <template v-if="header.sort">
              <span class="icon-sort-asc" v-if="header.value"></span>
              <span class="icon-sort-desc" v-else></span>
            </template>
        </th>
        <th>{{trans('crud.actions')}}</th>
    </tr>
    </thead>
</template>

<script>
import UrlFunctions from "../../../Mixins/Crud/UrlFunctions";

export default {
    props: {
        columns: Object,
    },
    mixins: [
        UrlFunctions
    ],
    data: () => ({
        headers: [],
        componentKey: 0,
    }),
    methods: {
        setOrderBy(key, sortAllow) {
            if (sortAllow){
                this.headers[key].value =  this.headers[key].value ? this.headers[key].value : false;
                this.headers[key].value = !this.headers[key].value
                this.insertParam('orderBy', this.headers[key].name)
                this.insertParam('orderType', this.headers[key].value)
                this.$emit('search')
                this.componentKey++
            }
        },
    },
    created() {
        this.headers = this.columns
    }
}
</script>
