<template>
    <tfoot>
    <tr style="border-top: 2px solid #f4f4f4;">
        <th v-for="col in columns">{{col.label}}</th>
        <th>{{trans('crud.actions')}}</th>
    </tr>
    </tfoot>
</template>

<script>
export default {
    props: {
        columns: Object,
    },
}
</script>
