<template>
    <app-layout :title="options.entityNamePlural" :key="componentKey">
        <nav-title-operation :options="options"/>
        <div class="row" id="orders">
            <div class="col-md-12 p-0">
                <div class="displaySpaceBetweenFlex box titleBlock">
                    <div class="w100 row">
                        <div class="col-md-12 p-0">
                            <div class="row m-0">
                                <div class="col-md-12">
                                    <h2 class="h2Order m-b-20"><span class="m-r-5 icon-user-circle-o colBlue"></span> {{trans('crud.order.userName')}}</h2>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{trans('admin.firstName')}}</label>
                                        <div class="w100">
                                            <input class="form-control" v-model="entry.name" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>{{trans('admin.phone')}}</label>
                                        <div class="w100">
                                            <input class="form-control" v-model="entry.phone" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>{{trans('admin.address')}}</label>
                                        <div class="w100">
                                            <input class="form-control" v-model="entry.address" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>{{trans('admin.is_new_user')}}</label>
                                        <div class="w100">
                                            <span class="icon-check-circle colGreen" v-if="entry.is_new_user"></span>
                                            <span class="icon-ban colRed" v-else></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <h2 class="h2Order m-b-20"><span class="m-r-5 icon-shopping-cart colBlue"></span> {{trans('crud.order.order')}}</h2>
                        </div>

                        <div class="col-md-12">
                            <div class="w100">
                                <table class="table table-bordered tableProduct table-hover responsive">
                                    <tr>
                                        <th style="width: 10px;">#</th>
                                        <th style="width: 70px">{{trans('crud.order.img')}}</th>
                                        <th>{{trans('crud.order.name')}}</th>
                                        <th>{{trans('crud.order.quantity')}}</th>
                                        <th>{{trans('crud.order.sum')}}</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td class="photoTd"><img src="/images/web/water/butl-3.webp"></td>
                                        <td>{{trans('crud.order.quantityWater')}}</td>
                                        <td>{{entry.bottle_quantity}}</td>
                                        <td>{{entry.bottle_price}} {{ trans('web.grn') }}</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="photoTd"><img src="/images/web/water/butl.webp"></td>
                                        <td>{{trans('crud.order.quantityOutpost')}}и</td>
                                        <td>{{ entry.outpost_quantity }}</td>
                                        <td>{{ entry.outpost_quantity * entry.outpost_price}} {{ trans('web.grn') }}</td>
                                    </tr>
                                    <tr v-for="(product, key) in entry.products">
                                        <td>{{key + 3}}</td>
                                        <td class="photoTd"><img :src="product.image_white"></td>
                                        <td>{{product.translation.name}}</td>
                                        <td>{{ product.pivot.quantity }}</td>
                                        <td>{{ product.pivot.quantity * product.pivot.price}} {{ trans('web.grn') }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="text-align: right">{{trans('crud.order.total')}}</td>
                                        <td style="text-align: center">{{ entry.total_price}} {{ trans('web.grn') }}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="btnGroup">
                                <button type="submit" class="btn btnDefault" onclick="history.back()">
                                    <span class="icon-ban"></span> {{ trans('crud.cancel') }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </app-layout>
</template>

<script>
import {defineComponent} from 'vue'
import AppLayout from '@/Layouts/AppLayout.vue'

import NavTitleOperation from '../../../Components/Crud/Nav/NavTitleOperation'
import Fields from "../../../Mixins/Crud/Fields";

export default defineComponent({
    props: {
        options: Object,
        fields: Object,
        errors: Object,
        entry: Object,
        languages: Array,
        data: Object,
    },
    mixins: [
        Fields
    ],
    components: {
        AppLayout,
        NavTitleOperation,
    },
    data: () => ({
        componentKey: 0,
        isCompany: false,
        order: {
            user: {}
        }
    }),
    created() {
        console.log(this.entry)
    }
})
</script>
