<template>
    <div class="customItem">
        <input type="checkbox" class="customCheckbox" :id="'checkbox' + id" @change="handleInput">
        <label :for="'checkbox' + id">{{title}}
            <template v-if="price">
                <span class="redBold" style="margin-left: 5px; margin-right: 5px"> {{ Math.round(price) }} </span> {{ trans('web.grn') }}
            </template>
        </label>
    </div>
</template>


<script>
export default {
    props: {
        title: String,
        price: Number,
        id: Number,
    },
    data () {
        return {
            content: false,
            err: '',
        }
    },
    methods: {
        handleInput (event) {
            this.$emit('update:modelValue', event.target.checked);
        },
    },
}
</script>
