<template>
    <div class="col-12 col-lg-6 modalBox mainFormBox" :key="componentKey">
        <div v-if="isSendMode" class="formBox orderForm">
           <div class="w100">
               <button type="button" class="btn-close" v-if="id === 'modal'">
                   <i class="fas fa-xmark" @click="$emit('close');"></i>
               </button>
               <p class="text-center h2">{{ trans('web.home.form_title') }}</p>
           </div>
            <div class="mb-3">
                <label><i class="far fa-user"></i></label>
                <input class="form-control"
                       v-model="name"
                       :placeholder="trans('web.contactForm.inputName')">
            </div>
            <div class="mb-3">
                <label><i class="far fa-clipboard"></i></label>
                <input class="form-control"
                       v-model="phone"
                       v-mask="'38(0##)###-##-##'"
                       :placeholder="trans('web.contactForm.inputPhone')">
            </div>
            <div class="mb-3">
                <label><i class="far fa-envelope"></i></label>
                <input class="form-control"
                       v-model="address"
                       :placeholder="trans('web.contactForm.inputAddress')">
            </div>
            <div class="row">
                <div class="col-sm-6 mb-1 products">
                    <div class="description">
                        <div class="info">
                            <img :src="src">
                            <p>
                                {{ trans('web.orderForm.water') }} <br>
                                <span class="redBold">{{ priceShow }}</span>
                                {{ trans('web.grn') }}
                            </p>
                        </div>
                        <plus-minus-btn @change="calculateTotalPrice()" v-model="bottleQuantity" :key="componentKeyQuantity"/>
                    </div>
                    <div class="description">
                        <div class="info">
                            <img :src="srcButl">
                            <p>
                                {{ trans('web.orderForm.outpost') }}* <br>
                                <span class="redBold">{{ outpostPrice }}</span>
                                {{ trans('web.grn') }}
                            </p>
                        </div>
                        <plus-minus-btn @change="calculateTotalPrice()" v-model="outpostQuantity"/>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-1 products">
                        <custom-checkbox v-model="isNewUser"
                                         :title="trans('web.orderForm.newUser')"
                                         :id="0 + id"
                                         @change="calculateTotalPrice()"/>
                    </div>
                    <template v-for="(product, key) in products">
                        <div class="mb-1 products">
                            <custom-checkbox v-model="productsId[product.id]"
                                             :title="product.translation.name"
                                             :price="product.price"
                                             :id="product.id + id"
                                             @change="calculateTotalPrice();ecommerceSendProduct(product, productsId[product.id]);"/>
                        </div>
                    </template>
                </div>
                <div class="col-sm-12">
                    <div class="info">* {{ trans('web.orderForm.info') }}</div>
                </div>
            </div>

            <div class="footerBtn">
                <div class="totalPrice">
                    <p>{{ trans('web.orderForm.total') }} <span class="redBold">{{ totalPrice }}</span>
                        {{ trans('web.grn') }}</p>
                </div>
                <button @click="send"
                        :disabled="disabledBtn"
                        class="btn btn-primary btnOrder"
                        :id="id"
                        :data-ecommerceName="this.trans('web.water')"
                        :data-ecommercePrice="priceShow"
                        data-ecommerceList="Form"
                >
                    {{ trans('web.orderForm.send') }}
                </button>
            </div>
        </div>
        <div v-else class="w100 formBox orderForm success">
            <div class="w100">
                <button type="button" class="btn-close" v-if="id === 'modal'">
                    <i class="fas fa-xmark" @click="$emit('close');"></i>
                </button>
                <p class="text-center h2">{{ trans('web.success.thank') }}</p>
            </div>
            <div class="textSuccess">
                <p>{{ trans('web.success.text1') }}</p>
                <p>
                    {{ trans('web.success.text2_1') }}
                    <b class="darkBlue">{{ trans('web.success.text2_2') }}</b>
                    {{ trans('web.success.text2_3') }}
                    <b class="darkBlue">{{ trans('web.success.text2_4') }}</b>
                    {{ trans('web.success.text2_5') }}
                </p>
                <p>{{ trans('web.success.text3') }}</p>
                <p>{{ trans('web.success.sum') }}: <span class="redBold">{{payment.total}}</span> {{trans('web.grn')}}</p>
                <hr class="w100">
                <p>{{payment.name}}</p>
                <p class="copy" @click="copy(payment.ipn)">
                    <i class="fas fa-copy"></i> {{ trans('web.success.ipn') }} {{payment.ipn}}
                </p>
                <p class="copy" @click="copy(payment.rr)">
                    <i class="fas fa-copy"></i>
                    {{ trans('web.success.rr') }} {{payment.rr}}
                </p>
                <p class="copy" @click="copy(payment.bank)">
                    <i class="fas fa-copy"></i>{{payment.bank}}
                </p>
                <p class="copy" @click="copy(payment.mfo)">
                    <i class="fas fa-copy"></i>{{ trans('web.success.mfo') }} {{payment.mfo}}
                </p>
            </div>
        </div>
    </div>
</template>

<script>

import {mask} from 'vue-the-mask'
import message from "../../../Mixins/Web/message";
import order from "../../../Mixins/Web/order";
import ecommerce from "../../../Mixins/Web/ecommerce";
import PlusMinusBtn from "./PlusMinusBtn";
import CustomCheckbox from "./CustomCheckbox";

export default {
    directives: {mask},
    components: {PlusMinusBtn, CustomCheckbox},
    mixins: [
        message,
        order,
        ecommerce,
    ],
    data: () => ({
        isViews: false,
    }),
    watch: {
        name: function (newValue, oldValue) {
            if (this.isSendMode && newValue.length > 0 && newValue.length < 2 && oldValue.length === 0){
                this.ecommerceSendCartInfoEvent(this.trans('web.water'), this.priceShow, 'begin_checkout')
            }
        },
        phone: function (newValue, oldValue) {
            if (this.isSendMode && newValue.length > 0 && newValue.length < 2 && oldValue.length === 0){
                this.ecommerceSendCartInfoEvent(this.trans('web.water'), this.priceShow, 'add_payment_info')
            }
        },
        address: function (newValue, oldValue) {
            if (this.isSendMode && newValue.length > 0 && newValue.length < 2 && oldValue.length === 0){
                this.ecommerceSendCartInfoEvent(this.trans('web.water'), this.priceShow, 'add_shipping_info')
            }
        },
        bottleQuantity: function (newValue, oldValue) {
            this.checkBottle(newValue);
            this.calculateTotalPrice();
            if (this.isSendMode){
                this.ecommerceSendCartEvent(this.trans('web.water'),this.priceShow, newValue-oldValue, newValue > oldValue)
            }
        },
        outpostQuantity: function (newValue, oldValue) {
            if (this.isSendMode){
                this.ecommerceSendCartEvent(this.trans('web.deposit'),this.priceShow, newValue-oldValue, newValue > oldValue)
            }
        },
    },
    methods:{
        send() {
            this.LoaderIndicator(true);
            let data = {
                name: this.name,
                phone: this.phone,
                address: this.address,
                bottle_quantity: this.bottleQuantity,
                outpost_quantity: this.outpostQuantity,
                is_new_user: this.isNewUser,
                products: this.productsBuy,
            }
            this.disabledBtn = true;
            axios.post('/api/v1/orders/create', data)
                .then(response => {
                    this.payment = response.data.data;
                    this.isSendMode = false;
                    this.ecommerceSendOrderEvent(this.payment.order);
                    this.showMessage(response.data.message);
                    this.LoaderIndicator(false);
                    this.reset();
                }).catch(error => {
                    this.disabledBtn = false;
                    this.LoaderIndicator(false);
                    this.showErrors(error);
                }
            );
        },
        copy(value) {
            navigator.clipboard.writeText(value);
            this.showMessage('copy ' + value)
        },
        ecommerceSendProduct(product, isAddToCart){
            let name = product.translation.name;
            let price = product.price;
            let quantity = isAddToCart ? 1 : 0;
            this.ecommerceSendCartEvent(name,price, quantity, isAddToCart);
        },
        ecommerceCheckFormVisibility(formElement) {
            formElement = document.getElementById('order')

            const rect = formElement.getBoundingClientRect();
            const isVisible = (
                rect.top >= 0 &&
                rect.left >= 0 &&
                rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) &&
                rect.right <= (window.innerWidth || document.documentElement.clientWidth)
            );

            if (isVisible && !this.isViews) {
                this.isViews = true;
                this.ecommerceSendViewItemEvent();
            }
        },
    },
    created() {
        this.priceShow = this.priceFirst;
        this.reset();
    },
    mounted() {
        if (this.id !== 'modal'){
            window.addEventListener('scroll', this.ecommerceCheckFormVisibility);
        }
    },
    beforeDestroy() {
        if (this.id !== 'modal'){
            window.removeEventListener('scroll', this.ecommerceCheckFormVisibility);
        }
    }
};
</script>
