<template>
    <div class="input-number">
        <button class="arrow-minus" @click="minus()">-</button>
        <input class="text-center" v-model="content">
        <button class="arrow-plus" @click="plus()">+</button>
    </div>
</template>

<script>
export default {
    props: {
        modelValue: [Number],
    },
    data() {
        return {
            content: 0,
        }
    },
    watch: {
        content: function (content) {
            this.justNumbers(content);
            this.handleInput();
        },
    },
    methods: {
        handleInput() {
            this.$emit('update:modelValue', this.content);
            this.$emit('change');
        },
        plus() {
            this.content++;
        },
        minus() {
            this.content--;
            if (this.content < 0) {
                this.content = 0;
            }
        },
        justNumbers(string) {
            if (string.length === 0){
                return this.content = 0;
            }

            if (typeof string === 'string') {
                let numsStr = string.replace(/[^0-9]/g, '');
                this.content = parseInt(numsStr);
            }
        }
    },
    created() {
        this.content = this.modelValue;
    }
}
</script>
