<template>
    <div class="w100">
        <input class="form-control"
               :placeholder="filter.placeholder"
               v-model="value"
               @update:modelValue="handleInput($event)"
        >
<!--        <v-select :placeholder="filter.placeholder"-->
<!--                  :options="Object.values(filter.values)"-->
<!--                  v-model="value"-->
<!--                  @update:modelValue="handleInput($event)"-->
<!--        >-->
<!--            <span slot="no-options">{{trans('admin.selectNonList')}}</span>-->
<!--        </v-select>-->
    </div>
</template>

<script>

import UrlFunctions from '../../../Mixins/Crud/UrlFunctions'

export default {
    props: {
        filter: Object,
    },
    mixins: [UrlFunctions],
    data () {
        return {
            value: '',
        }
    },
    methods: {
        handleInput(value) {
            let page = 1
            this.value ? this.insertParam(this.filter.name, this.value) : this.deleteParam(this.filter.name);
            this.$emit('search', page)
        },
    },
    created() {
        this.value = this.getParam(this.filter.name)
        console.log(this.value)
    }
}
</script>
