<template>
    <button @click="send()" :class="'btnIcon ' +  button.linkClass" :title="button.label">
        <span :class="button.iconClass"></span>
    </button>
</template>

<script>
export default {
    props: {
        button: Object,
        item: Object,
        entityKeyName: String,
    },
    methods:{
        send(){
            this.LoaderIndicator(true);
            axios.post(this.button.link + '/' + this.item[this.entityKeyName])
                .then(response => {
                    if (response.data.message){
                        this.showMessage(response.data.message);
                    }
                    this.LoaderIndicator(false);
                }).catch(error => {
                    this.LoaderIndicator(false);
                    console.log(error);
                    alert('Error!');
                }
            );
        }
    }
}
</script>
