<template>
    <div class="col-12 col-md-3 header-phone text-end" id="mobileNav">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="modal"
            data-bs-target="#navbarMobile"
            aria-controls="navbarMobile"
            aria-expanded="false"
            id="mobileNavBtn"
        >
            <svg width="43" height="21" viewBox="0 0 43 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 19.5C0 19.1022 0.185924 18.7206 0.516871 18.4393C0.847817 18.158 1.29668 18 1.76471 18H12.3529C12.821 18 13.2698 18.158 13.6008 18.4393C13.9317 18.7206 14.1176 19.1022 14.1176 19.5C14.1176 19.8978 13.9317 20.2794 13.6008 20.5607C13.2698 20.842 12.821 21 12.3529 21H1.76471C1.29668 21 0.847817 20.842 0.516871 20.5607C0.185924 20.2794 0 19.8978 0 19.5ZM0 10.5C0 10.1022 0.185924 9.72064 0.516871 9.43934C0.847817 9.15804 1.29668 9 1.76471 9H26.4706C26.9386 9 27.3875 9.15804 27.7184 9.43934C28.0494 9.72064 28.2353 10.1022 28.2353 10.5C28.2353 10.8978 28.0494 11.2794 27.7184 11.5607C27.3875 11.842 26.9386 12 26.4706 12H1.76471C1.29668 12 0.847817 11.842 0.516871 11.5607C0.185924 11.2794 0 10.8978 0 10.5ZM0 1.5C0 1.10218 0.185924 0.720645 0.516871 0.43934C0.847817 0.158036 1.29668 0 1.76471 0H40.5882C41.0563 0 41.5051 0.158036 41.8361 0.43934C42.167 0.720645 42.3529 1.10218 42.3529 1.5C42.3529 1.89782 42.167 2.27936 41.8361 2.56066C41.5051 2.84196 41.0563 3 40.5882 3H1.76471C1.29668 3 0.847817 2.84196 0.516871 2.56066C0.185924 2.27936 0 1.89782 0 1.5Z" fill="#224B8E"/>
            </svg>
        </button>
        <div style="display: flex">
            <a class="phone-button" :href="'tel:' + phoneKievstar" style="margin-right: 15px">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M23.7807 0.21912C23.8506 0.288788 23.906 0.371552 23.9438 0.46267C23.9816 0.553787 24.0011 0.651469 24.0011 0.75012C24.0011 0.848771 23.9816 0.946453 23.9438 1.03757C23.906 1.12869 23.8506 1.21145 23.7807 1.28112L17.5602 7.50012H21.7497C21.9486 7.50012 22.1394 7.57914 22.2801 7.71979C22.4207 7.86044 22.4997 8.05121 22.4997 8.25012C22.4997 8.44903 22.4207 8.6398 22.2801 8.78045C22.1394 8.9211 21.9486 9.00012 21.7497 9.00012H15.7497C15.5508 9.00012 15.3601 8.9211 15.2194 8.78045C15.0787 8.6398 14.9997 8.44903 14.9997 8.25012V2.25012C14.9997 2.05121 15.0787 1.86044 15.2194 1.71979C15.3601 1.57914 15.5508 1.50012 15.7497 1.50012C15.9486 1.50012 16.1394 1.57914 16.2801 1.71979C16.4207 1.86044 16.4997 2.05121 16.4997 2.25012V6.43962L22.7187 0.21912C22.7884 0.149275 22.8712 0.0938608 22.9623 0.0560512C23.0534 0.0182415 23.1511 -0.0012207 23.2497 -0.0012207C23.3484 -0.0012207 23.4461 0.0182415 23.5372 0.0560512C23.6283 0.0938608 23.7111 0.149275 23.7807 0.21912ZM5.48073 1.99212C5.39218 1.87821 5.28041 1.78445 5.15283 1.71706C5.02526 1.64967 4.88481 1.61019 4.74081 1.60125C4.59681 1.59232 4.45255 1.61412 4.31762 1.66522C4.1827 1.71631 4.06019 1.79554 3.95823 1.89762L2.40723 3.45012C1.68273 4.17612 1.41573 5.20362 1.73223 6.10512C3.04584 9.8365 5.18267 13.2243 7.98423 16.0171C10.7771 18.8186 14.1649 20.9555 17.8962 22.2691C18.7977 22.5856 19.8252 22.3186 20.5512 21.5941L22.1022 20.0431C22.2043 19.9412 22.2835 19.8187 22.3346 19.6837C22.3857 19.5488 22.4075 19.4045 22.3986 19.2605C22.3897 19.1165 22.3502 18.9761 22.2828 18.8485C22.2154 18.7209 22.1216 18.6092 22.0077 18.5206L18.5472 15.8296C18.4255 15.7352 18.284 15.6697 18.1333 15.638C17.9826 15.6063 17.8266 15.6093 17.6772 15.6466L14.3922 16.4671C13.9537 16.5767 13.4944 16.5709 13.0588 16.4502C12.6232 16.3296 12.2263 16.0982 11.9067 15.7786L8.22273 12.0931C7.90288 11.7737 7.67122 11.3768 7.5503 10.9413C7.42938 10.5057 7.42333 10.0462 7.53273 9.60762L8.35473 6.32262C8.39209 6.17321 8.39503 6.01727 8.36333 5.86656C8.33163 5.71586 8.26612 5.57431 8.17173 5.45262L5.48073 1.99212ZM2.82573 0.76662C3.08822 0.504044 3.40357 0.300316 3.75084 0.168962C4.09811 0.0376081 4.46934 -0.0183649 4.8399 0.00475956C5.21046 0.027884 5.57186 0.129577 5.9001 0.303085C6.22834 0.476593 6.51592 0.717947 6.74373 1.01112L9.43473 4.47012C9.92823 5.10462 10.1022 5.93112 9.90723 6.71112L9.08673 9.99612C9.04431 10.1663 9.0466 10.3445 9.09338 10.5135C9.14017 10.6825 9.22985 10.8365 9.35373 10.9606L13.0392 14.6461C13.1635 14.7702 13.3178 14.8601 13.4871 14.9069C13.6563 14.9537 13.8349 14.9558 14.0052 14.9131L17.2887 14.0926C17.6737 13.9964 18.0754 13.9889 18.4636 14.0708C18.8519 14.1526 19.2164 14.3217 19.5297 14.5651L22.9887 17.2561C24.2322 18.2236 24.3462 20.0611 23.2332 21.1726L21.6822 22.7236C20.5722 23.8336 18.9132 24.3211 17.3667 23.7766C13.4085 22.3839 9.81464 20.1179 6.85173 17.1466C3.88066 14.1841 1.61464 10.5908 0.22173 6.63312C-0.32127 5.08812 0.16623 3.42762 1.27623 2.31762L2.82723 0.76662H2.82573Z"/>
                </svg>
            </a>
            <div class="phoneMenu">
                <a class="dropdown-toggle" :href="'tel:' + phoneKievstar" id="phoneMenu">
                    {{ phoneKievstar }}
                </a>
                <i class="fas fa-chevron-down" style="margin-left:10px" :class="{'rotate180': show, 'rotate0': !show}" @click="show = !show"></i>
                <ul v-if="show">
                    <li><a class="dropdown-item" :href="'tel:' + phoneVodafone">{{ phoneVodafone }}</a></li>
                    <li><a class="dropdown-item" :href="'tel:' + phoneLife">{{ phoneLife }}</a></li>
                    <li><a class="dropdown-item" :href="'tel:' + phoneCity">{{ phoneCity }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "PhoneComponent",
    props: {
        phoneKievstar: String,
        phoneVodafone: String,
        phoneLife: String,
        phoneCity: String,
    },
    data: () => ({
        show: false,
    }),
    methods: {
        handleScroll (event) {
            if (screen.width <= 767){
                document.getElementById('mobileNav').style.background = window.pageYOffset < 15 ? 'transparent' : '#ffffffe8';
            }else {
                let logo = document.getElementById('logo');
                let navigation = document.getElementById('navigation');

                if (window.pageYOffset > 200){
                    navigation.style.background = '#ffffffe8';
                    navigation.style.position = 'fixed';
                    navigation.style.padding = '0 50px';
                    navigation.style.maxWidth = '100%';
                    logo.style.width = '50px';
                }else {
                    navigation.style.background = 'transparent';
                    navigation.style.removeProperty('position');
                    navigation.style.removeProperty('max-width');
                    logo.style.removeProperty('width');
                }
            }
        }
    },
    created () {
        window.addEventListener('scroll', this.handleScroll);
    },
    mounted() {
        this.handleScroll();
    }
}
</script>
