<template>
    <svg id="Слой_1" x="0px" y="0px" viewBox="0 0 263 74" width="100%">
        <text transform="matrix(1.04 0 0 1.08 46.5815 47.5347)" class="st2 st5 st0">MYTESSUTI</text>
    </svg>
</template>
