<template>
    <img src="/images/web/logo/logo.svg" style="    width: 100%;max-width: 200px;">
</template>

<script>
    import { defineComponent } from 'vue'
    import { Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        components: {
            Link,
        },
    })
</script>
