<template>
    <div class="flashNotifications alert" :style="{ opacity: opacity, display: display }">
        <div class="red" v-for="(error,key) in errors">
            {{ error }}
        </div>
    </div>
</template>

<script>
export default {
    props: {
        errors: Object,
    },
    watch: {
        errors: function (error) {
            if (error){
                setTimeout(() => this.display = 'block', 1);
                setTimeout(() => this.opacity = 1, 100);

                setTimeout(() => this.opacity = 0, 9000);
                setTimeout(() => this.display = 'none', 10000);
            }
        }
    },
    data() {
        return {
            opacity: 0,
            display: 'none',
        }
    },
}
</script>
