<template>
    <div class="flashNotifications alert" :style="{ opacity: opacity, display: display }">
        <div v-if="flash && flash.success" class="green">
            {{ flash.success }}
        </div>
        <div v-if="flash && flash.message" class="message">
            {{ flash.message }}
        </div>
    </div>
</template>

<script>
export default {
    props: {
        flash: Object,
    },
    data() {
        return {
            opacity: 0,
            display: 'none',
        }
    },
    created() {
        if (this.flash.length > 0) {
            setTimeout(() => this.display = 'block', 1);
            setTimeout(() => this.opacity = 1, 100);

            setTimeout(() => this.opacity = 0, 9000);
            setTimeout(() => this.display = 'none', 10000);
        }
    }
}
</script>
