<template>
    <div>
        <Head :title="title"/>
        <flash-notifications :flash="$page.props.jetstream.flash"/>
        <error-notifications :errors="$page.props.errors"/>
        <jet-banner/>

        <div class="min-h-screen bg-gray-50">

            <nav class="bgWhite border-b navHeader">
                <div class="container-fluid">
                    <div class="row" style="align-items: center;height: 4rem;">
                        <div class="col-md-3 col-xs-5">
                            <div class="shrink-0 flex items-center">
                                <a :href="route('web.home')" target="_blank"><logo :max-width="170"/></a>
                            </div>
                        </div>
                        <div class=" col-md-7 col-xs-6 p-0">
                            <a class="powered" href="https://horizon.in.ua/" target="_blank">
                                <img src="/images/admin/default/icon.png">
                                Powered by <span style="font-weight: 900;color: black;margin-left: 3px;"> Horizon</span>
                            </a>
                        </div>
                        <div class="col-md-2 desktop tablet">
                            <div class="ml-3 relative">
                                <jet-dropdown align="right" width="48">
                                    <template #trigger>
                                        <button v-if="$page.props.jetstream.managesProfilePhotos" class="flex text-sm border-2 border-transparent rounded-full focus:outline-none focus:border-gray-300 transition">
<!--                                            <img class="h-8 w-8 rounded-full object-cover"-->
<!--                                                 :src="$page.props.user.profile_photo_url"-->
<!--                                                 :alt="$page.props.user.name"/>-->
                                        </button>

                                        <span v-else class="inline-flex rounded-md">
                                            <button type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
<!--                                                {{ $page.props.user.name }}-->

                                                <svg class="ml-2 -mr-0.5 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"/>
                                                </svg>
                                            </button>
                                        </span>
                                    </template>

                                    <template #content>
                                        <div class="block px-4 py-2 text-xs text-gray-400">
                                            Manage Account
                                        </div>
<!--                                        <div class="block px-4 py-2">-->
<!--                                            Язык <a href="/lang/ru">RU</a> | <a href="/lang/ua">UA</a>-->
<!--                                        </div>-->

<!--                                        <jet-dropdown-link :href="route('profile.show')">-->
<!--                                            {{trans('crud.profile')}}-->
<!--                                        </jet-dropdown-link>-->

                                        <div class="border-t border-gray-100"></div>

                                        <!-- Authentication -->
                                        <form @submit.prevent="logout">
                                            <jet-dropdown-link as="button">
                                                {{trans('crud.logOut')}}
                                            </jet-dropdown-link>
                                        </form>
                                    </template>
                                </jet-dropdown>
                            </div>
                        </div>

                        <!-- Hamburger -->
                        <div class="col-xs-1 sm:hidden burgerMenu">
                            <button @click="showingNavigationDropdown = ! showingNavigationDropdown">
                                <span class="icon-menu"></span>
                            </button>
                        </div>

                        <div class="sm:hidden mobileMenuBox" :class="{'hidden': !showingNavigationDropdown}">
                            <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}">
                                <button @click="showingNavigationDropdown = ! showingNavigationDropdown" class="burgerMenuClose">
                                    <span class="icon-close2"></span>
                                </button>
                                <Menu/>

                                <ul class="sidebar-links">
                                    <li class="">
                                        <a :href="route('profile.show')">
                                            <span class="m-r-5 icon-user-circle-o"></span> {{trans('crud.profile')}}
                                        </a>
                                    </li>
                                    <li class="">
                                        <form method="POST" @submit.prevent="logout">
                                            <button>
                                                <span class="m-r-5 icon-exit_to_app"></span> {{trans('crud.logOut')}}
                                            </button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <aside class="sidebar">
                <Menu/>
            </aside>

            <!-- Page Content -->
            <main class="page">
                <div class="container-fluid p-25">
                    <slot></slot>
                </div>
            </main>
        </div>
    </div>
</template>

<script>
import {defineComponent} from 'vue'
import JetApplicationMark from '@/Jetstream/ApplicationMark.vue'
import JetBanner from '@/Jetstream/Banner.vue'
import JetDropdown from '@/Jetstream/Dropdown.vue'
import JetDropdownLink from '@/Jetstream/DropdownLink.vue'
import JetNavLink from '@/Jetstream/NavLink.vue'
import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink.vue'
import FlashNotifications from '@/Jetstream/FlashNotifications.vue'
import ErrorNotifications from '@/Jetstream/ErrorNotifications.vue'
import JetAuthenticationCardLogo from '@/Jetstream/AuthenticationCardLogo.vue'
import {Head, Link} from '@inertiajs/inertia-vue3';
import Menu from './Menu';
import Logo from "../Jetstream/Logo";

export default defineComponent({
    props: {
        title: String,
    },

    components: {
        Logo,
        Head,
        JetApplicationMark,
        JetBanner,
        JetDropdown,
        JetDropdownLink,
        JetNavLink,
        JetResponsiveNavLink,
        Link,
        Menu,
        FlashNotifications,
        ErrorNotifications,
        JetAuthenticationCardLogo,
    },

    data() {
        return {
            showingNavigationDropdown: false,
        }
    },

    methods: {
        switchToTeam(team) {
            this.$inertia.put(route('current-team.update'), {
                'team_id': team.id
            }, {
                preserveState: false
            })
        },

        logout() {
            this.$inertia.post(route('logout'));
            location.reload();
        },
    },
    created() {
        // console.log(this.page.props.flash)
    }
})
</script>
