<template>
    <ul class="sidebar-links">
        <template v-for="item in menu">
            <li :class="{'active': item.isActive}">
                <a :href="item.url"  @click="item.showChildren = !item.showChildren">
                    <span class="m-r-5" :class="item.icon"></span> {{ item.label }}
                    <span class="icon-chevron-down right rotate0"
                          :class="{'rotate180': item.showChildren}"
                          v-if="item.children.length > 0"
                    ></span>
                </a>
                <ul class="collapseMenu" id="usersMenu" v-show="item.showChildren">
                    <li v-for="child in item.children" :class="{'active': child.isActive}">
                        <a :href="child.url">
                            <span class="m-r-5" :class="child.icon"></span> {{ child.label }}
                        </a>
                    </li>
                </ul>
            </li>
        </template>
    </ul>
</template>

<script>
export default {
    name: "Menu",
    data() {
        return {
            currentUrl: '',
            menu: [
                {
                    'label': this.trans('admin.home'),
                    'url': route('dashboard'),
                    'icon': 'icon-home2',
                    'showChildren': false,
                    'isActive': false,
                    'children': [],
                },
                {
                    'label': this.trans('admin.orders'),
                    'url': route('admin.orders'),
                    'icon': 'icon-shopping-bag',
                    'showChildren': false,
                    'isActive': false,
                    'children': [],
                },
                {
                    'label': this.trans('admin.productsName'),
                    'url': route('admin.products'),
                    'icon': 'icon-product-hunt',
                    'showChildren': false,
                    'isActive': false,
                    'children': [],
                },
                {
                    'label': this.trans('admin.users'),
                    'url': '#',
                    'icon': 'icon-users',
                    'showChildren': false,
                    'isActive': false,
                    'children': [
                        {
                            'label': this.trans('admin.admins'),
                            'url': route('admin.admins'),
                            'icon': 'icon-user',
                            'showChildren': false,
                            'isActive': false,
                            'children': [],
                        },
                        {
                            'label': this.trans('admin.clients'),
                            'url': route('admin.clients'),
                            'icon': 'icon-user',
                            'showChildren': false,
                            'isActive': false,
                            'children': [],
                        },
                    ],
                },
                {
                    'label': this.trans('admin.settings'),
                    'url': '#',
                    'icon': 'icon-cog',
                    'showChildren': false,
                    'isActive': false,
                    'children': [
                        {
                            'label': this.trans('admin.allSettings'),
                            'url': route('admin.ref-settings'),
                            'icon': 'icon-cogs',
                            'isActive': false,
                            'children': [],
                        },
                        {
                            'label': this.trans('admin.certificate'),
                            'url': route('admin.ref-certificate'),
                            'icon': 'icon-file-pdf-o',
                            'isActive': false,
                            'children': [],
                        },
                        {
                            'label': this.trans('admin.pages'),
                            'url': route('admin.ref-pages'),
                            'icon': 'icon-list-alt',
                            'isActive': false,
                            'children': [],
                        },
                        {
                            'label': this.trans('admin.blog'),
                            'url': route('admin.blog'),
                            'icon': 'icon-list',
                            'isActive': false,
                            'children': [],
                        },
                        {
                            'label': this.trans('admin.reviews'),
                            'url': route('admin.reviews'),
                            'icon': 'icon-rate_review',
                            'isActive': false,
                            'children': [],
                        },
                        {
                            'label': 'Redirects',
                            'url': route('admin.redirects'),
                            'icon': 'icon-arrow-circle-o-right',
                            'isActive': false,
                            'children': [],
                        },
                        {
                            'label': this.trans('admin.languages'),
                            'url': route('admin.ref-languages'),
                            'icon': 'icon-translate',
                            'isActive': false,
                            'children': [],
                        },
                    ],
                },
            ],
        }
    },
    methods: {
        getCurrentUrl() {
            this.currentUrl = window.location.href.split('?')[0];
        },
        setMenu(){
            for (var i = 0; i < this.menu.length; i++) {
                if (this.menu[i].url != '#') {
                    this.menu[i].isActive = this.currentUrl.includes(this.menu[i].url);
                }

                for (var n = 0; n < this.menu[i].children.length; n++) {
                    let str = this.menu[i].children[n].url;
                    if (this.menu[i].children[n].url != '#' && !this.menu[i].showChildren) {
                        this.menu[i].children[n].isActive = this.currentUrl.includes(str);
                        this.menu[i].showChildren = this.currentUrl.includes(str);
                    }
                }
            }
        }
    },
    created() {
        this.getCurrentUrl()
        this.setMenu()
    }
}
</script>
